<section class="form-section container">
    <div class="form-header">
        <h3>Add Pet</h3>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
    </div>

    <div class="form-body">
        <form action="">
            <div class="inp-cont">
                <label for="Name">Vehicle Type <span class="required">*</span></label>
                <input type="text" name="Name" id="Name" class="inp-cus" placeholder="Enter your Vehicle Type">
            </div>
            <div class="inp-cont">
                <label for="Name">Brand <span class="required">*</span></label>
                <input type="text" name="Name" id="Name" class="inp-cus" placeholder="Enter your Brand">
            </div>

            <div class="inp-cont">
                <label for="Email">Vehicle Moda<span class="required">*</span></label>
                <input type="Text" name="Email" id="Email" class="inp-cus" placeholder="Enter your Vehicle Modal">
            </div>

            <div class="inp-cont">
                <label for="Phone">Vehicle Number <span class="required">*</span></label>
                <input type="text" name="Phone" id="Phone" class="inp-cus" placeholder="Enter your Vehicle Number">
            </div>

            <div class="inp-cont">
                <label for="maintenancePaidBy">Vehicle Owned By <span class="required">*</span></label>
                <select id="maintenancePaidBy" class="inp-cus" formControlName="maintenancePaidBy">
                    <option value="" selected  disabled>Select Options</option>
                    <option value="Owner">Owner</option>
                    <option value="Tenant">Tenant</option>
                </select>
            </div>

            <div class="mb-3">
                <button class="submit-btn">Submit</button>
            </div>
        </form>

    </div>
</section>