.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.item:nth-child(1),
.item:nth-child(2) {
    flex-grow: 1;
}

.item:nth-child(3) {
    width: 100%;
}

.table-cont {
    background-color: #faf9f4;
    padding: 10px;
    border-radius: 20px;
}

.styled-table thead {
    background-color: #ddd;
}

.head-cont {
    font-size: 20px;
    margin-bottom: 20px;
}

.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.new-cards {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 280px !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.item h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.item p {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color2);
    /* fallback green */
    margin: 0;
}



.btn-add {
    color: var(--primary-color1);
    font-weight: 700;
    padding: 10px 8px;
    background: #faf9f4;
    border-radius: 20px;
    border: 2px solid var(--primary-color1);
}


tbody td i {
    color: var(--primary-color1);
}


@media (max-width: 768px) {

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
        text-align: right;
        white-space: nowrap;
    }
}

.tbody-dd tr td i{
    font-size: 25px;

}

.notify-icon{
    color: var(--primary-color2) !important;
}







.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 20px;
}

.summary-card {
  flex: 1;
  min-width: 220px;
  max-height: 120px;
  border-radius: 12px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}



.summary-card h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.summary-card p {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

/* Card Colors */
.light-green {
  background-color: #dfeeda;
}
.light-blue {
  background-color: #d9f5fd;
}
.light-yellow {
  background-color: #f6ecda;
}
.light-grey {
  background-color: #e4e5e6;
}