.bg {
    background: #acacac33; 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(1px); 
    width: 90%;
    max-width: 600px; 
    height: auto; 
    border-radius: 20px;
    border: 2px solid #ffffff33;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); 
    padding: 20px;
    box-sizing: border-box;
}

.logo-img img {
    width: 40%;
    max-width: 650px; 
    height: auto;
    border-radius: 12px;
}

/* Form styles */
.signin-form {
    margin-top: 30px;
    width: auto;
    display: flex;
    flex-direction: column;
}

/* Input container */
.inp-cont {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px;
    width: 100%;
}

/* Label */
.inp-cont label {
    font-size: 17px;
      font-family: 'TTHoves-Regular', sans-serif;
    color: #181818;
}

/* Input */
.inp-cus {
    padding: 12px 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
    font-size: 1rem;
    transition: all 0.3s ease;
    outline: none;
}

/* Input focus effect */
.inp-cus:focus {
    background: #fff;
    box-shadow: 0 0 6px #4f504f4d;
}

/* Placeholder style */
.inp-cus::placeholder {
    color: #aaa;
    font-size: 0.95rem;
}

.password-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 43px; /* adjust based on input padding */
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  color: var(--primary-color2);
}

/* Forgot password */
.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: var(--primary-color2);
    text-decoration: underline;
    font-size: 14px;
}

.btn-add{
        font-size: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .bg { height: 60vh; }
    .logo-img img { width: 50%; }
}

@media (max-width: 480px) {
    .bg { height: 50vh; padding: 20px; }
    .logo-img img { width: 60%; }
}