<section class="bg">
    <div class="form-container">
        <!-- Logo -->
        <div class="logo-img">
            <img src="assets/logo/fourdotz-logo.png" alt="Logo">
        </div>

        <!-- Signin Form -->
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="signin-form">

            <!-- New Password -->
            <div class="inp-cont password-group">
                <label class="medium-font" for="newPassword">New Password <span class="required">*</span></label>
                <input [type]="showNewPassword ? 'text' : 'password'" id="newPassword" placeholder="Enter New Password"
                    class="inp-cus regular-font" formControlName="newPassword" />
                <span class="toggle-password" (click)="toggleNewPassword()">
                    <i [class]="showNewPassword ? 'fa-solid fa-unlock' : 'fa-solid fa-lock'"></i>
                </span>
                <div class="error-text"
                    *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.invalid">
                    Password must be at least 6 characters
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="inp-cont password-group">
                <label class="medium-font" for="confirmPassword">Confirm Password <span class="required">*</span></label>
                <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword"
                    placeholder="Enter Confirm Password" class="inp-cus regular-font" formControlName="confirmPassword" />
                <span class="toggle-password" (click)="toggleConfirmPassword()">
                    <i [class]="showConfirmPassword ? 'fa-solid fa-unlock' : 'fa-solid fa-lock'"></i>
                </span>
                <div class="error-text"
                    *ngIf="changePasswordForm.hasError('mismatch') && changePasswordForm.get('confirmPassword')?.touched">
                    Passwords do not match
                </div>
            </div>


            <!-- Submit -->
            <div class="btn-group">

                <button type="button" class="btn-back" (click)="goBack()">Back</button>
                <button type="submit" class="btn-add" *ngIf="!btnloading">Change Password</button>
                <button type="button" class="btn-add" *ngIf="btnloading">Processing...</button>
            </div>
        </form>
    </div>
</section>