

.visitor-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    justify-content: center;
}

.visitor-data{
    display: flex;
    gap: 5px;
    font-size: 14px;
    color: #777;
}

.action-btn{
    color: var(--primary-color1);
    font-weight: bold;
    border: 2px solid var(--primary-color1);
    padding: 4px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-radius: 12px;
    background-color: #fff;


}

.action-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background-color: #ccc;
}