<section>
    <div>
        <div class="container header-cont">
            <div class="head-cont">
                <h2>Tenants List</h2>
            </div>
            <div>
                <button class="btn-add Buttons-font" (click)="Addtenant()">+ Add Tenant</button>
            </div>
        </div>
        <div class="container">

            <div class="item">
                <div class="table-cont">
                    <div class="table-container">
                        <table class="styled-table">
                            <thead class="Table-Header">
                                <tr>
                                    <th>Property No</th>
                                    <th>Property Type</th>
                                    <th>Association Name</th>
                                    <th>Residental Name</th>
                                    <th>Residental Phone</th>
                                    <th>Residental At</th>
                                    <th>Maintenance Pay By</th>
                                    <!-- <th>View</th> -->
                                </tr>
                            </thead>
                            
                                <!-- (click)="viewassociation(1)"
                                 (click)="AddAssociation()" -->
                                
                            <tbody class="Table-Body">
                                <tr>
                                    <td data-label="Property No">H101</td>
                                    <td data-label="Property Type">Apartment</td>
                                    <td data-label="Property Type">Lakeview</td>
                                    <td data-label="Area">Naveen</td>
                                    <td data-label="BHK">9632587410</td>
                                    <td data-label="Residential Type">12-10-2025</td>
                                    <td data-label="Residential Type">Owner</td>
                                    <!-- <td data-label="View" (click)="viewproperty()"><i class="fa-solid fa-arrow-up-right-from-square"></i></td> -->
                                </tr>
                                <tr>
                                    <td data-label="Property No">H103</td>
                                    <td data-label="Property Type">Apartment</td>
                                    <td data-label="Property Type">Lakeview</td>
                                    <td data-label="Area">Aswin</td>
                                    <td data-label="BHK">9632587410</td>
                                    <td data-label="Residential Type">12-10-2025</td>
                                    <td data-label="Residential Type">Tenant</td>
                                    <!-- <td data-label="View" (click)="viewproperty()"><i class="fa-solid fa-arrow-up-right-from-square"></i></td> -->
                                </tr>
                                
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>