<section class="success-section">
    <div class="payment-success-modal">

        <!-- Failure Icon -->
        <div class="success-icon">
            <img src="assets/images/payment-failure.gif" alt="payment-failed" class="payment-success-img">
        </div>

        <!-- Title -->
        <h2 class="title" style="color:#e63946;">Payment Failed</h2>

        <!-- Subtitle -->
        <p class="regular-font">
            Unfortunately, your payment could not be processed at this time.
            If the amount was deducted, it will be automatically refunded
            within <strong>3–5 business days</strong>.
        </p>

        <!-- Buttons -->
        <button class="btn-primary" (click)="closemodal()">Back to Dashboard</button>

    </div>
</section>