/* Fullscreen Centering */
.success-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Wrapper */
.payment-success-modal {
  width: 420px;
  background: #ffffff;
  padding: 28px 30px;
  border-radius: 20px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: fadeIn 0.25s ease-out;
}

/* Fade animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Confetti */
.confetti-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
}

.confetti-img {
  width: 180px;
  opacity: 0.9;
}

/* Success Icon */
.success-icon {
  width: 300px;
  height: auto;
  /* background: #4CAF50; */
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -15px;
}

.success-icon i {
  color: white;
  font-size: 26px;
}

/* Title */
.title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 8px;
  color: #222;
}

/* Subtitle */
.subtitle {
  font-size: 14px;
  color: #5e5e5e;
  line-height: 20px;
  margin-bottom: 24px;
}

/* Plan Card */
.plan-card {
  background: #fafafa;
  padding: 18px 20px;
  border-radius: 14px;
  text-align: left;
  border: 1px solid #eee;
  margin-bottom: 20px;
}

.plan-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan-icon {
  width: 35px;
  margin-right: 12px;
}

.plan-title {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}

.plan-subtitle {
  font-size: 13px;
  color: #999;
  margin: 2px 0 0 0;
}

.plan-price {
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

/* Plan Features */
.plan-list {
  list-style: none;
  padding: 0;
  margin: 16px 0 10px 0;
}

.plan-list li {
  font-size: 14px;
  color: #444;
  line-height: 22px;
  padding-left: 20px;
  /* background: url('assets/icons/tick.svg') no-repeat left center; */
}

/* Duration */
.plan-duration {
  font-size: 13px;
  color: #666;
  margin-top: 5px;
}

/* Buttons */
.btn-primary {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #ffffff;
  color: var(--primary-color1);
  border-radius: 10px;
  border: 2px solid var(--primary-color1);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-link {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background: transparent;
  color: #7c4dff;
  border: none;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}

.btn-link:hover {
  text-decoration: underline;
}


.payment-success-img{
    width: 100px;
}