.content {
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  background: url('/assets/images/login-bg1.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 10px;
  box-sizing: border-box;
}