<section class="form-section ">
  <div class="form-header">
    <h3>Add Gate</h3>
    <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
  </div>

  <div class="form-body">
    <form [formGroup]="gateForm" (ngSubmit)="addGate()">

      <!-- GATE NAME / NUMBER -->
      <div class="inp-cont">
        <label class="medium-font">
          Gate Name / Number <span class="required">*</span>
        </label>

        <input
          type="text"
          class="input-custom-style regular-font"
          placeholder="Gate 1 / North Gate"
          formControlName="gateName"
        />

        <small class="text-danger" *ngIf="isInvalid('gateName')">
          Gate Name / Number is required.
        </small>
      </div>

      <!-- SUBMIT BUTTONS -->
      <div class="mb-3">
        <button class="submit-btn" type="submit" *ngIf="submitbtn">Submit</button>
        <button class="processing-btn" type="button" *ngIf="!submitbtn">Processing...</button>
      </div>

    </form>
  </div>
</section>
