<section class="form-section container">
    <div class="form-header">
        <h3>Edit Association</h3>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
    </div>

    <div class="form-body scrollable">
        <form [formGroup]="associationForm" (ngSubmit)="createAssociation()">
            <div class="inp-cont">
                <label class="medium-font" for="name">Name <span class="required">*</span></label>
                <input type="text" id="name" class="inp-cus regular-font" placeholder="Enter your Name" formControlName="name">
                <small *ngIf="isInvalid('name')" class="error-text">Name is required</small>
            </div>

            <div class="inp-cont">
                <label class="medium-font" for="email">Email ID <span class="required">*</span></label>
                <input type="email" id="email" class="inp-cus regular-font" placeholder="Enter your Email" formControlName="email"
                    readonly>

                <small *ngIf="isInvalid('email')" class="error-text">Valid email is required</small>
            </div>

            <div class="inp-cont">
                <label class="medium-font" for="phone">Phone Number <span class="required">*</span></label>
                <input type="tel" id="phone" class="inp-cus regular-font" placeholder="Enter your Phone Number"
                    formControlName="phone" maxlength="10" readonly>
                <!-- <small *ngIf="isInvalid('phone')" class="error-text">Valid 10-digit phone number is required</small> -->
                <small
                    *ngIf="associationForm.get('phone')?.touched && associationForm.get('phone')?.errors?.['required']"
                    class="error-text">Phone number is required</small>
                <small
                    *ngIf="associationForm.get('phone')?.touched && associationForm.get('phone')?.errors?.['pattern']"
                    class="error-text">Phone must be 10 digits</small>
            </div>

            <div class="inp-cont">
                <label class="medium-font" for="associationName">Association Name <span class="required">*</span></label>
                <input type="text" id="associationName" class="inp-cus regular-font" placeholder="Enter your Association Name"
                    formControlName="associationName">
                <small *ngIf="isInvalid('associationName')" class="error-text">Association Name is required</small>
            </div>

            <div class="inp-cont">
                <label class="medium-font">Property Type </label>
               <p class="regular-font">{{ selectedPropertyTypes.join(', ') }}</p>

                <!-- <div class="checkbox-group" formGroupName="propertyType">
    <label class="medium-font" class="checkbox-cus">
      <input type="checkbox" formControlName="villa" disabled />
      <span>Villa</span>
    </label>
    <label class="medium-font" class="checkbox-cus">
      <input type="checkbox" formControlName="apartment" disabled />
      <span>Apartment</span>
    </label>
    <label class="medium-font" class="checkbox-cus">
      <input type="checkbox" formControlName="townhouse" disabled />
      <span>Town House</span>
    </label>
  </div> -->
            </div>

            <div>
                <button type="submit" class="submit-btn" *ngIf="createButton">Submit</button>
                <button type="button" class="processing-btn-submit" *ngIf="!createButton">Processing...</button>
            </div>
        </form>
    </div>
</section>