<section>
    <div>

        <!-- HEADER -->
        <div class="container header-cont">
            <div class="head-cont">
                <h2>Payout Request List</h2>
            </div>
            <div class="mt-4">
                <!-- <button class="btn-add" (click)="AddAssociation()">+ Add Association</button> -->
            </div>
        </div>

        <!-- TABLE CARD -->
        <div class="container">
            <div class="item">

                <div class="new-table-wrapper">

                    <!-- FILTERS -->
                    <form [formGroup]="filterForm">
                        <div class="filters">

                            <div class="search-box">
                                <input type="text" placeholder="Search name / email / association"
                                    formControlName="search" class="regular-font" />
                            </div>

                            <div class="search-box">
                                <select formControlName="status" class="regular-font">
                                    <option value="">All Status</option>
                                    <option value="pending">Pending</option>
                                    <option value="processing">Processing</option>
                                    <option value="completed">Completed</option>
                                    <option value="rejected">Rejected</option>
                                </select>
                            </div>

                            <button type="button" class="filter-reset-btn" (click)="resetFilters()">
                                Reset
                            </button>

                        </div>
                    </form>

                    <!-- SCROLL WRAPPER (IMPORTANT) -->
                    <div class="table-scroll-wrapper">
                        <div class="table-scroll">

                            <table class="new-table">

                                <!-- HEADER -->
                                <thead>
                                    <tr class="medium-font">
                                        <th class="sticky-col lead-col">Request Details</th>
                                        <th>Amount</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Requested On</th>
                                        <th>View</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody *ngIf="!tableLoading; else tableSkeleton" class="regular-font">

                                    <tr *ngFor="let item of payoutTable.paginatedData">


                                        <!-- Details -->
                                        <td class="sticky-col lead-col">
                                            <div class="data-1">{{ item.association_name }}</div>
                                            <div>{{ item.email }}</div>
                                            <div>+91 {{ item.mobile }}</div>
                                        </td>

                                        <!-- Amount -->
                                        <td>
                                            ₹{{ item.total_amount | number:'1.2-2' }}
                                        </td>

                                        <!-- Description -->
                                        <td>
                                            {{ truncate(item.description, 20) }}
                                        </td>

                                        <!-- Status -->
                                        <td>
                                            <span class="status-chip" [class.approved]="item.status === 'completed'"
                                                [class.pending]="item.status === 'pending'"
                                                [class.rejected]="item.status === 'rejected'">

                                                <span class="status-dot"></span>
                                                {{ formatLabel(item.status) }}
                                            </span>
                                        </td>

                                        <!-- Date -->
                                        <td>
                                            {{ item.created_time?.$date | date:'dd MMM yyyy, h:mm a' }}
                                        </td>

                                        <td>
                                            <div class="view-btn-div" (click)="openviewpayoutdetails(item)">
                                                <i class="bx bx-eye"></i>
                                                <span class="view-btn">View</span>
                                            </div>
                                        </td>

                                        <td>

                                            <!-- 🔶 PENDING → Approve -->
                                            <div *ngIf="item.status === 'pending'" class="view-btn-div approve-btn"
                                                (click)="openviewrequestmodal(item)">

                                                <i class="bx bx-check"></i>
                                                <span class="view-btn">Approve</span>
                                            </div>

                                            <!-- 🟣 APPROVED → Update -->
                                            <div *ngIf="item.status === 'approved'  || item.status === 'processing'"
                                                class="view-btn-div" (click)="openupdatestatusmodal(item)">

                                                <i class="bx bx-edit"></i>
                                                <span class="view-btn">Update</span>
                                            </div>

                                            <!-- 🟢 COMPLETED → Disabled -->
                                            <div *ngIf="item.status === 'completed'|| item.status === 'rejected'">

                                                <div *ngIf="item.status === 'completed'"
                                                    class="view-btn-div disabled-btn"
                                                    style="cursor: not-allowed !important;">
                                                    <i class="bx bx-check-circle"></i>
                                                    <span class="view-btn">Completed</span>
                                                </div>
                                                <div *ngIf="item.status === 'rejected'"
                                                    class="view-btn-div disabled-btn"
                                                    style="cursor: not-allowed !important;">
                                                    <i class="bx bx-x-circle"></i>
                                                    <span class="view-btn">Rejected</span>
                                                </div>
                                            </div>

                                        </td>

                                    </tr>

                                    <tr *ngIf="payoutTable.paginatedData.length === 0">
                                        <td colspan="6" class="no-data">
                                            No Data Found
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <ng-template #tableSkeleton>
                                <tr *ngFor="let i of [1,2,3,4,5]" style="height: 50px;"> <!-- taller row -->
                                    <td> <span class="placeholder col-10 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td> <span class="placeholder col-8 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td> <span class="placeholder col-6 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td> <span class="placeholder col-7 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td> <span class="placeholder col-5 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td> <span class="placeholder col-3 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                </tr>
                            </ng-template>

                        </div>
                    </div>

                    <!-- PAGINATION -->
                    <div class="">



                        <div class="crm-pagination">
                            <div class="regular-font">
                                Showing <span class="medium-font">{{ payoutTable.startIndex + 1 }}</span> to <span
                                    class="medium-font">{{ payoutTable.endIndex + 1 }}</span> of
                                <span class="medium-font"> {{payoutTable.totalData }}</span> entries
                            </div>
                            <div class="d-flex gap-3 regular-font">
                                <button class="nav-btn" (click)="payoutTable.prevPage()"
                                    [disabled]="payoutTable.currentPage === 1">
                                    ‹ Prev
                                </button>

                                <button *ngFor="let p of pages" class="page-btn"
                                    [class.active]="p === payoutTable.currentPage" (click)="payoutTable.goToPage(p)">
                                    {{ p }}
                                </button>

                                <button class="nav-btn" (click)="payoutTable.nextPage()"
                                    [disabled]="payoutTable.currentPage === payoutTable.totalPages">
                                    Next ›
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</section>