<section class="form-section container">
    <div class="form-header">
        <h3>Add Resident</h3>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
    </div>

    <div class="form-body">
        <form action="">
            <div class="form-grid">

                <div class="inp-cont">
                    <label>Property No <span class="required">*</span></label>
                    <div class="custom-select">
                        <div class="select-selected" (click)="toggleDropdown()">
                            {{ selectedProperty || 'Select Property No' }}
                            <i class="fa-solid"
                                [ngClass]="{'fa-chevron-down': !dropdownOpen, 'fa-chevron-up': dropdownOpen}"
                                style="float: right; font-size: 0.7rem; margin-top: 4px;"></i>
                        </div>
                        <div class="select-items" [class.select-hide]="!dropdownOpen">
                            <div *ngFor="let property of propertyNumbers" (click)="selectProperty(property)">
                                {{ property }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="inp-cont">
                    <label for="Phone">Resident Name <span class="required">*</span></label>
                    <input type="text" name="Phone" id="Phone" class="inp-cus" placeholder="Enter your Resident Name">
                </div>

                <div class="inp-cont">
                    <label for="Phone">Resident Email <span class="required">*</span></label>
                    <input type="email" name="Phone" id="Phone" class="inp-cus" placeholder="Enter your Resident Email">
                </div>
                <div class="inp-cont">
                    <label for="Phone">Resident Mobile <span class="required">*</span></label>
                    <input type="tel" name="Phone" id="Phone" class="inp-cus" placeholder="Enter your Resident Mobile">
                </div>

                <div class="inp-cont mt-2">
                    <label>Resident Type <span class="required">*</span></label>
                    <div class="checkbox-group">
                        <label class="radio-cus">
                            <input type="radio" name="residentType" [(ngModel)]="residentType" value="owner">
                            <span>Owner</span>
                        </label>
                        <label class="radio-cus">
                            <input type="radio" name="residentType" [(ngModel)]="residentType" value="tenant">
                            <span>Tenant</span>
                        </label>
                    </div>
                </div>
            </div>



            <div class="form-actions mb-2">
                <button class="submit-btn">Submit</button>
            </div>
        </form>
    </div>
</section>