<section>
    <div class="back-button-div">
        <!-- From Uiverse.io by karthik092726122003 -->
        
        <div class="ass-h">
            <h3>H101 - Apartment</h3>
        </div>

    </div>
    <div class="bg-white sec-cont">
        <!-- Header -->
        <div class="header-cont">
            <div class="user-info">
                <h5 class="label">Propety No</h5>
                <p>H101</p>
            </div>
            <div class="user-info">
                <h5 class="label">Property Type</h5>
                <p>Apartment</p>
            </div>
            <div class="user-info">
                <h5 class="label">Area</h5>
                <p>1000 sq.ft</p>
            </div>
            <div class="user-info">
                <h5 class="label">Facing</h5>
                <p>South</p>
            </div>
            <div class="user-info">
                <h5 class="label">Electricity Consumer No</h5>
                <p>0125362663</p>
            </div>
            <div class="user-info">
                <h5 class="label">Parking Slot Number</h5>
                <p>K220</p>
            </div>
            <div class="user-info">
                <h5 class="label">BHK</h5>
                <p>2BHK</p>
            </div>
            <div class="user-info">
                <h5 class="label">Building Type</h5>
                <p>Tower</p>
            </div>
            <div class="user-info">
                <h5 class="label">Tower Name</h5>
                <p>Hipo</p>
            </div>
            <div class="user-info">
                <h5 class="label">Block Name</h5>
                <p>A</p>
            </div>
            <div class="user-info">
                <h5 class="label">Floor</h5>
                <p>3</p>
            </div>


            <div class="user-info">
                <h5 class="label">Owner Name</h5>
                <p>Aswin G</p>
            </div>
            <div class="user-info">
                <h5 class="label">Phone Number</h5>
                <p>9360170297</p>
            </div>
            <div class="user-info">
                <h5 class="label">Email</h5>
                <p>aswin&#64;gmail.com</p>
            </div>
            <div class="user-info">
                <h5 class="label">Owned At</h5>
                <p>12 Sep 2025</p>
            </div>

        </div>

        <!-- Section Content -->
        <div class="main-cont">
            <div class="tabs">
                <button class="tab-btn" [class.active]="activeTab === 'Resident'" (click)="setTab('Resident')">
                    Resident
                </button>
                <button class="tab-btn" [class.active]="activeTab === 'petvehicle'" (click)="setTab('petvehicle')">
                    Pet & Vehicle
                </button>
            </div>

            <!-- Tab Content -->
            <div class="tab-content">
                <div *ngIf="activeTab === 'Resident'">
                    <div class="resident-section">
                        <h4 class="section-title">Resident Details</h4>

                       
                        <!-- Tenant Card -->
                        <div class="resident-card">
                            <div class="card-header">
                                <h5>Tenant Details</h5>
                                <div class="d-flex gap-3">
                                    <!-- <button class="btn-add" (click)="addTenant()">+ Add Tenant</button>
                                    <button class="btn-add" (click)="addTenant()"> Remove Tenant</button> -->
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="user-info">
                                    <h5 class="label">Tenant Name</h5>
                                    <p>Aswin G</p>
                                </div>
                                <div class="user-info">
                                    <h5 class="label">Phone Number</h5>
                                    <p>9360170297</p>
                                </div>
                                <div class="user-info">
                                    <h5 class="label">Email</h5>
                                    <p>aswin&#64;gmail.com</p>
                                </div>
                                <div class="user-info">
                                    <h5 class="label">Owned At</h5>
                                    <p>12 Sep 2025</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div *ngIf="activeTab === 'petvehicle'">
                    <div class="resident-section">
                        <h4 class="section-title">Pet & Vehicle</h4>

                        <!-- Owner Card -->
                        <div class="resident-card">
                            <div class="card-header">
                                <h5>Pet Details</h5>
                                <button class="btn-add" (click)="addpet()">+ Add Pet</button>
                            </div>

                            <div class="card-body">
                                <div class="user-info">
                                    <h5 class="label">Pet Name</h5>
                                    <p>Pattu</p>
                                </div>
                                <div class="user-info">
                                    <h5 class="label">Type</h5>
                                    <p>Dog</p>
                                </div>
                                <div class="user-info">
                                    <h5 class="label">Breed</h5>
                                    <p>Shih Tzu</p>
                                </div>
                                <div class="user-info">
                                    <h5 class="label">Age</h5>
                                    <p>5 Months</p>
                                </div>
                            </div>
                        </div>

                        <!-- Tenant Card -->
                        <div class="resident-card">
                            <div class="card-header">
                                <h5>Vehicle Details</h5>
                                <button class="btn-add" (click)="addVehicle()">+ Add Vehicle</button>
                            </div>

                            <div class="card-body">
                                <div class="user-info">
                                    <h5 class="label">Vehicle Type</h5>
                                    <p>Car</p>
                                </div>
                                <div class="user-info">
                                    <h5 class="label">Brand</h5>
                                    <p>Honda Civic</p>
                                </div>
                                <div class="user-info">
                                    <h5 class="label">Vehicle Modal</h5>
                                    <p>2019</p>
                                </div>
                                <div class="user-info">
                                    <h5 class="label">Vehicle Number</h5>
                                    <p>TN-29-BV-0001</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>