<section>
    <div>
        <div class="container header-cont">
            <div class="head-cont">
                <h2>Properties List</h2>
            </div>
            <div>
                <button class="btn-add" (click)="Addproperty()">+ Add Properties</button>
            </div>
        </div>
        <div class="container">

            <div class="item">
                <div class="table-cont">
                    <div class="table-container">
                        <table class="styled-table">
                            <thead>
                                <tr>
                                    <th>Property No</th>
                                    <th>Property Type</th>
                                    <th>Area</th>
                                    <th>BHK</th>
                                    <th>Residental Type</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            
                                <!-- (click)="viewassociation(1)"
                                 (click)="AddAssociation()" -->
                                
                            <tbody>
                                <tr>
                                    <td data-label="Property No">H101</td>
                                    <td data-label="Property Type">Apartment</td>
                                    <td data-label="Area">1000 sq.ft</td>
                                    <td data-label="BHK">2BHK</td>
                                    <td data-label="Residential Type">Owner</td>
                                    <td data-label="View" (click)="viewproperty()"><i class="fa-solid fa-arrow-up-right-from-square"></i></td>
                                </tr>
                                <tr>
                                    <td data-label="Property No">H102</td>
                                    <td data-label="Property Type">Villa</td>
                                    <td data-label="Area">1800 sq.ft</td>
                                    <td data-label="BHK">3BHK</td>
                                    <td data-label="Residential Type">Tenant</td>
                                    <td data-label="View"><i class="fa-solid fa-arrow-up-right-from-square"></i></td>
                                </tr>
                                <tr>
                                    <td data-label="Property No">H103</td>
                                    <td data-label="Property Type">Apartment</td>
                                    <td data-label="Area">1200 sq.ft</td>
                                    <td data-label="BHK">2BHK</td>
                                    <td data-label="Residential Type">Owner</td>
                                    <td data-label="View"><i class="fa-solid fa-arrow-up-right-from-square"></i></td>
                                </tr>
                                <tr>
                                    <td data-label="Property No">H104</td>
                                    <td data-label="Property Type">Row House</td>
                                    <td data-label="Area">1500 sq.ft</td>
                                    <td data-label="BHK">3BHK</td>
                                    <td data-label="Residential Type">Tenant</td>
                                    <td data-label="View"><i class="fa-solid fa-arrow-up-right-from-square"></i></td>
                                </tr>
                                <tr>
                                    <td data-label="Property No">H105</td>
                                    <td data-label="Property Type">Villa</td>
                                    <td data-label="Area">2200 sq.ft</td>
                                    <td data-label="BHK">4BHK</td>
                                    <td data-label="Residential Type">Owner</td>
                                    <td data-label="View"><i class="fa-solid fa-arrow-up-right-from-square"></i></td>
                                </tr>
                                <tr>
                                    <td data-label="Property No">H106</td>
                                    <td data-label="Property Type">Apartment</td>
                                    <td data-label="Area">900 sq.ft</td>
                                    <td data-label="BHK">1BHK</td>
                                    <td data-label="Residential Type">Tenant</td>
                                    <td data-label="View"><i class="fa-solid fa-arrow-up-right-from-square"></i></td>
                                </tr>
                                <tr>
                                    <td data-label="Property No">H107</td>
                                    <td data-label="Property Type">Penthouse</td>
                                    <td data-label="Area">2500 sq.ft</td>
                                    <td data-label="BHK">4BHK</td>
                                    <td data-label="Residential Type">Owner</td>
                                    <td data-label="View"><i class="fa-solid fa-arrow-up-right-from-square"></i></td>
                                </tr>
                                <tr>
                                    <td data-label="Property No">H108</td>
                                    <td data-label="Property Type">Apartment</td>
                                    <td data-label="Area">1100 sq.ft</td>
                                    <td data-label="BHK">2BHK</td>
                                    <td data-label="Residential Type">Tenant</td>
                                    <td data-label="View"><i class="fa-solid fa-arrow-up-right-from-square"></i></td>
                                </tr>
                                <tr>
                                    <td data-label="Property No">H109</td>
                                    <td data-label="Property Type">Villa</td>
                                    <td data-label="Area">2000 sq.ft</td>
                                    <td data-label="BHK">3BHK</td>
                                    <td data-label="Residential Type">Owner</td>
                                    <td data-label="View"><i class="fa-solid fa-arrow-up-right-from-square"></i></td>
                                </tr>
                                <tr>
                                    <td data-label="Property No">H110</td>
                                    <td data-label="Property Type">Studio</td>
                                    <td data-label="Area">600 sq.ft</td>
                                    <td data-label="BHK">1RK</td>
                                    <td data-label="Residential Type">Tenant</td>
                                    <td data-label="View"><i class="fa-solid fa-arrow-up-right-from-square"></i></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>