.main-head-cont{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.maintenance-desc{
    max-width: 900px;
}

.color-change{
    color: var(--primary-color2) !important;
}