<section class="form-section">
    <div class="form-header">
        <h3 class="heading-font">Add Owner</h3>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
    </div>

    <div class="form-body">
        <form [formGroup]="ownerForm">

            <div class="inp-cont">
                <label class="medium-font">First Name <span class="required">*</span></label>
                <input type="text" formControlName="firstName" class="input-custom-style regular-font" placeholder="Enter your First Name">
                <div *ngIf="ownerForm.get('firstName')?.touched && ownerForm.get('firstName')?.invalid"
                    class="error-text">
                    First Name is required
                </div>
            </div>

            <div class="inp-cont">
                <label class="medium-font">Last Name <span class="required">*</span></label>
                <input type="text" formControlName="lastName" class="input-custom-style regular-font" placeholder="Enter your Last Name">
                <div *ngIf="ownerForm.get('lastName')?.touched && ownerForm.get('lastName')?.invalid"
                    class="error-text">
                    Last Name is required
                </div>
            </div>

            <div class="inp-cont">
                <label class="medium-font">Email ID <span class="required">*</span></label>
                <input type="email" formControlName="email" class="input-custom-style regular-font" placeholder="Enter your Email">
                <div *ngIf="ownerForm.get('email')?.touched && ownerForm.get('email')?.invalid"
     class="error-text">

  <div *ngIf="ownerForm.get('email')?.errors?.['required']">
    Email is required
  </div>

  <div *ngIf="ownerForm.get('email')?.errors?.['pattern']">
    Enter valid email (example: name&#64;gmail.com)
  </div>

</div>
            </div>

            <div class="inp-cont">
                <label class="medium-font">Phone Number <span class="required">*</span></label>
                <input type="numbers" formControlName="phone" class="input-custom-style regular-font" placeholder="Enter your Phone Number"
                    maxlength="10">
               <div *ngIf="ownerForm.get('phone')?.touched && ownerForm.get('phone')?.invalid"
     class="error-text">

  <div *ngIf="ownerForm.get('phone')?.errors?.['required']">
    Phone number is required
  </div>

  <div *ngIf="ownerForm.get('phone')?.errors?.['pattern']">
    Must be 10 digits and start with 6-9
  </div>

</div>
            </div>

            <div class="inp-cont">
                <label class="medium-font">Owned at <span class="required">*</span></label>
                <div class="date-input-wrapper">
                    <input type="text" id="rentedAt" class="input-custom-style placeholder-font" formControlName="ownedAt"
                        placeholder="Select date" readonly (click)="openDatePicker()" />
                    <i class="fa fa-calendar calendar-icon" (click)="openDatePicker()"></i>
                    <input #hiddenDatePicker type="date" class="hidden-date-input" (change)="onDateSelected($event)" />
                </div>
                <!-- <input type="date" formControlName="ownedAt" class="input-custom-style regular-font"> -->
                <div *ngIf="ownerForm.get('ownedAt')?.touched && ownerForm.get('ownedAt')?.invalid" class="error-text">
                    Owned date is required
                </div>
            </div>

            <div class="mb-3">
                <button type="submit" class="submit-btn" (click)="onSubmit()" *ngIf="submitbtn">Submit</button>
                <button type="button" class="processing-btn" *ngIf="!submitbtn">Processing...</button>
            </div>
        </form>

    </div>
</section>