.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 !important;
}

.item:nth-child(1),
.item:nth-child(2) {
    flex-grow: 1;
}

.item:nth-child(3) {
    width: 100%;
}

.table-cont {
    background-color: #faf9f4;
    padding: 10px;
    border-radius: 12px !important;
}



.head-cont {
    font-size: 20px;
    margin-bottom: 20px;
}

.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.new-cards {
    background: #fff;
    border-radius: 12px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 280px !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.item h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.item p {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color2);
    /* fallback green */
    margin: 0;
}



.btn-add {
    color: var(--primary-color1);
    font-weight: 700;
    padding: 10px 8px;
    background: #faf9f4;
    border-radius: 12px !important;
    border: 2px solid var(--primary-color1);
}


tbody td i {
    color: var(--primary-color1);
}


/* === Table Styling === */
.table-container {
    max-height: 500px;
    /* scrollable area */
    overflow-y: auto;
    border-radius: 12px !important;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
}

.styled-table thead {
    position: sticky;
    top: 0;
    background: #f1f3f4;
    color: #333;
    z-index: 2;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    /* text-align: right; */
    white-space: nowrap;
}


.styled-table i {
    color: #27ae60;
    cursor: pointer;
    font-size: 1rem;
}