.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.item:nth-child(1),
.item:nth-child(2) {
    flex-grow: 1;
}

.item:nth-child(3) {
    width: 100%;
}

.table-cont {
    background-color: #faf9f4;
    padding: 10px;
    border-radius: 20px;
}

.styled-table thead {
    background-color: #ddd;
}

.head-cont {
    font-size: 20px;
    margin-bottom: 20px;
}

.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.new-cards {
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 280px !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.item h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.item p {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color2);
    /* fallback green */
    margin: 0;
}



.btn-add {
    color: var(--primary-color1);
    font-weight: 700;
    padding: 10px 8px;
    background: #faf9f4;
    border-radius: 20px;
    border: 2px solid var(--primary-color1);
}


tbody td i {
    color: var(--primary-color1);
}


@media (max-width: 768px) {

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
        text-align: right;
        white-space: nowrap;
    }
}

 .filters {
  display: flex;
  gap: 1rem;
  /* margin-bottom: 1rem; */
  align-items: center;
  /* margin-top: 1rem; */
  padding: 20px;
}
/*
.filters select,
.filters input {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.filters button {
  padding: 6px 12px;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.filters button:hover {
  background: #45a049;
} */

.btn{
    width: 200px;
    margin-top: 10px;
}

.btn-btn{
    width: 100%;
}


/* Input container */
.inp-cont {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px;
}

/* Label */
.inp-cont label {
    font-size: 17px;
    font-weight: 600;
    color: #555;
}

/* Input */
.inp-cus {
    padding: 12px 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
    font-size: 1rem;
    transition: all 0.3s ease;
    outline: none;
    width: 200px;
}

/* Input focus effect */
.inp-cus:focus {
    background: #fff;
    box-shadow: 0 0 6px #4f504f4d;
}

/* Placeholder style */
.inp-cus::placeholder {
    color: #aaa;
    font-size: 0.95rem;
}