<section>
    <div>
        <div class="container header-cont">
            <div class="head-cont">
                <h2>Rental Invoice List</h2>
            </div>
            <div>
                <button class="btn-add" (click)="generateRental()" [disabled]="!isTenantPresent"
                    [title]="!isTenantPresent ? 'You don’t have any tenant to generate rent invoice' : ''">
                    + Generate Rental Invoice
                </button>
            </div>
        </div>
        <div class="container">

            <div class="item">
                <div class="table-cont"> <!-- &#64; -->
                    <form [formGroup]="filterForm">
                        <div class="filter-container">

                            <!-- LEFT Filters -->
                            <div class="filters-left">

                                <!-- Status Dropdown -->
                                <div class="filter-item">
                                    <label for="status" class="medium-font">Payment Status</label>
                                    <select formControlName="status" class="regular-font">
                                        <option value="">All</option>
                                        <option value="Paid">Paid</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Overdue">Overdue</option>
                                    </select>
                                </div>

                                <!-- Search -->
                                <div class="filter-item">
                                    <label for="residentSearch" class="medium-font" id="select-tag">Search
                                        <div class="tooltip-wrapper">
                                            <img src="assets/icons/info-circle.svg" class="info-icon" alt="info" />

                                            <div class="tooltip-box">
                                                Search for Tenanr name or property number here
                                            </div>
                                        </div>
                                    </label>
                                    <input type="text" placeholder="Enter Phone or Name"
                                        formControlName="residentSearch" class="regular-font" />
                                </div>

                                <!-- From Date -->
                                <div class="filter-item">
                                    <label for="fromDate" class="medium-font">From Date</label>
                                    <input type="date" formControlName="fromDate" class="regular-font" />
                                </div>

                                <!-- To Date -->
                                <div class="filter-item">
                                    <label for="toDate" class="medium-font">To Date</label>
                                    <input type="date" formControlName="toDate" class="regular-font" />
                                </div>

                            </div>

                            <!-- RIGHT Reset Button -->
                            <div class="filters-right">
                                <button type="button" class="reset-btn" (click)="resetFilters()"><i
                                        class="fa-solid fa-arrow-rotate-right"></i> Reset</button>
                            </div>

                        </div>
                    </form>

                    <div class="table-container">
                        <table class="styled-table">
                            <thead>
                                <tr>
                                    <th class="medium-font">Rental Amount</th>
                                    <th class="medium-font">Association Name</th>
                                    <th class="medium-font">Resident Name</th>
                                    <th class="medium-font">Resident Phone</th>
                                    <th class="medium-font">Issue at</th>
                                    <th class="medium-font">Status</th>
                                    <th class="medium-font">Action</th>
                                </tr>
                            </thead>
                            <!-- <tbody class="tbody-dd">
                                <tr *ngFor="let p of filteredProperties">
                                    <td>₹{{ p.amount }}</td>
                                    <td>{{ p.association }}</td>
                                    <td>{{ p.name }}</td>
                                    <td>{{ p.phone }}</td>
                                    <td>{{ p.date }}</td>
                                    <td>
                                        {{ p.status }}
                                        <span *ngIf="p.status === 'Paid' && p.paidDate"> ({{ p.paidDate }})</span>
                                    </td>
                                </tr>
                            </tbody> -->
                            <tbody *ngIf="!tableLoading; else tableSkeleton" class="regular-font">
                                <ng-container *ngIf="rentalinvoicelist2?.length === 0; else datashow">
                                    <tr>
                                        <td colspan="7" style="text-align: center; font-weight: 600; color: gray;">
                                            No Data Found
                                        </td>
                                    </tr>
                                </ng-container>

                                <ng-template #datashow>
                                    <tr *ngFor="let p of filteredProperties">
                                        <td>₹{{ p.total_amount }}</td>
                                        <td>{{ p.association_name }}</td>
                                        <td>{{ p.tenant_name }}</td>
                                        <td>{{ p.tenant_mobile }}</td>
                                        <td>{{ p.created_time.$date | date:'dd-MMM-yyyy' }}</td>
                                        <td>
                                            <span *ngIf="p.payment_status === false">Pending</span>
                                            <span *ngIf="p.payment_status === true"
                                                style="color: #226942 !important;">Paid</span>
                                        </td>
                                        <td>
                                            <span *ngIf="p.payment_status === true"> <img
                                                    src="assets/icons/paid-invoice1.svg" alt="paid-invoice-icon"
                                                    (click)="viewInvoice(p.invoice_no)" /></span>
                                            <span *ngIf="p.payment_status === false"
                                                style="color: var(--primary-color1);"
                                                (click)="changetopaidstatus(p.invoice_no)">Paid</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </tbody>
                            <ng-template #tableSkeleton>
                                <tr *ngFor="let i of [1,2,3,4,5,6]" style="height: 50px;"> <!-- taller row -->
                                    <td>
                                        <span class="placeholder col-10 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td>
                                        <span class="placeholder col-8 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td>
                                        <span class="placeholder col-6 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td>
                                        <span class="placeholder col-7 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td>
                                        <span class="placeholder col-5 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td>
                                        <span class="placeholder col-3 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td>
                                        <span class="placeholder col-3 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                </tr>
                            </ng-template>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="rentalinvoicelist1" class="pagination-container regular-font">
            <p class="pagination-info">
                Showing {{ rentalinvoicelist1.startIndex + 1 }} to {{ rentalinvoicelist1.endIndex + 1 }} of {{
                rentalinvoicelist1.totalData }} entries
            </p>

            <ul class="pagination">
                <!-- First Page -->
                <li>
                    <button [disabled]="rentalinvoicelist1.currentPage === 1" (click)="rentalinvoicelist1.prevPage()"
                        class="page-btn arrow-btn">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>
                </li>

                <!-- Current Page -->
                <li>
                    <span class="page-btn active">
                        {{ rentalinvoicelist1.currentPage }}
                    </span>
                </li>

                <!-- Next Page -->
                <li>
                    <button [disabled]="rentalinvoicelist1.currentPage === rentalinvoicelist1.totalPages"
                        (click)="rentalinvoicelist1.nextPage()" class="page-btn arrow-btn">
                        <i class="fa-solid fa-angle-right"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>