<div class="parent">
    <div class="div1">
        <div class="table-cont"> <!-- &#64; -->
            <div class="table-container">
                <table class="styled-table">
                    <thead class="Table-Header">
                        <tr>
                            <th>Maintenance</th>
                            <th>Association</th>
                            <th> Name</th>
                            <th> Type</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody class="tbody-dd Table-Body">
                        <tr>
                            <td data-label="Maintenance Amount">₹2,500</td>
                            <td data-label="Maintenance Amount">Lakeview</td>
                            <td data-label="Resident Name">Arun Kumar</td>
                            <td data-label="Resident Type">Owner</td>
                            <td data-label="Date">2025-09-01</td>
                            <td data-label="Status">Paid</td>
                            <td data-label="View"><i class="fa-solid fa-file-lines"></i></td>
                        </tr>
                        <tr>
                            <td data-label="Maintenance Amount">₹3,000</td>
                            <td data-label="Maintenance Amount">Riverside</td>
                            <td data-label="Resident Name">Meena R</td>
                            <td data-label="Resident Type">Tenant</td>
                            <td data-label="Date">2025-09-03</td>
                            <td data-label="Status">Pending</td>
                            <td data-label="View"><i class="fa-solid fa-file-lines"></i></td>
                        </tr>
                        <tr>
                            <td data-label="Maintenance Amount">₹1,800</td>
                            <td data-label="Maintenance Amount">Lakeview</td>
                            <td data-label="Resident Name">Suresh B</td>
                            <td data-label="Resident Type">Owner</td>
                            <td data-label="Date">2025-09-05</td>
                            <td data-label="Status">Paid</td>
                            <td data-label="View"><i class="fa-solid fa-file-lines"></i></td>
                        </tr>
                        <tr>
                            <td data-label="Maintenance Amount">₹1,800</td>
                            <td data-label="Maintenance Amount">Lakeview</td>
                            <td data-label="Resident Name">Suresh B</td>
                            <td data-label="Resident Type">Owner</td>
                            <td data-label="Date">2025-09-05</td>
                            <td data-label="Status">Paid</td>
                            <td data-label="View"><i class="fa-solid fa-file-lines"></i></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="div2  bg-white rounded-2xl shadow-md flex flex-col properties-div">
        <div class="transaction-header">
            <h3>My Properties</h3>
            <a class="link-text" href="#">See All</a>
        </div>

        <div class="transaction-list">
            <!-- Association 1 -->
            <div class="transaction-item">
                <div class="transaction-item-left">
                    <div class="maintenance-avatar">L</div>
                    <div class="transaction-details">
                        <span class="transaction-name">H101 | Lakeview Apartment</span>
                        <span class="transaction-date">Owner</span>
                    </div>
                </div>
            </div>

            <!-- Association 2 -->
            <div class="transaction-item">
                <div class="transaction-item-left">
                    <div class="maintenance-avatar">G</div>
                    <div class="transaction-details">
                        <span class="transaction-name">G90 | Greenwood Residency</span>
                        <span class="transaction-date">Tenant</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="div3 bg-white rounded-2xl shadow-md flex flex-col properties-div">
        <div class="transaction-header">
            <h3>Tenants</h3>
            <a class="link-text" href="#">See All</a>
        </div>

        <div class="transaction-list">
            <!-- Association 1 -->
            <div class="transaction-item">
                <div class="transaction-item-left">
                    <div class="maintenance-avatar">N</div>
                    <div class="transaction-details">
                        <span class="transaction-name">Naveenkumar | L908</span>
                        <span class="transaction-date">Lakeview Apartment</span>
                    </div>
                </div>
            </div>

            <!-- Association 2 -->
            <div class="transaction-item">
                <div class="transaction-item-left">
                    <div class="maintenance-avatar">A</div>
                    <div class="transaction-details">
                        <span class="transaction-name">Aswin | G670</span>
                        <span class="transaction-date">Greenwood Residency</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="div4">
        <div class="table-cont"> <!-- &#64; -->
            <div class="table-container">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Rental Amount</th>
                            <th>Association</th>
                            <th> Name</th>
                            <th> Phone</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody class="tbody-dd">
                        <tr>
                            <td data-label="Maintenance Amount">₹2,500</td>
                            <td data-label="Resident Name">Lakeview</td>
                            <td data-label="Resident Name">Arun Kumar</td>
                            <td data-label="Resident Type">9360170297</td>
                            <td data-label="Date">2025-09-01</td>
                            <td data-label="Status">Paid</td>
                            <td data-label="View"><i class="fa-solid fa-file-lines"></i></td>
                        </tr>
                        <tr>
                            <td data-label="Maintenance Amount">₹3,000</td>
                            <td data-label="Resident Name">Lakeview</td>
                            <td data-label="Resident Name">Meena R</td>
                            <td data-label="Resident Type">9360170297</td>
                            <td data-label="Date">2025-09-03</td>
                            <td data-label="Status">Pending</td>
                            <td data-label="View"><i class="fa-solid fa-file-lines"></i></td>
                        </tr>
                        <tr>
                            <td data-label="Maintenance Amount">₹1,800</td>
                            <td data-label="Resident Name">Lakeview</td>
                            <td data-label="Resident Name">Suresh B</td>
                            <td data-label="Resident Type">9360170297</td>
                            <td data-label="Date">2025-09-05</td>
                            <td data-label="Status">Paid</td>
                            <td data-label="View"><i class="fa-solid fa-file-lines"></i></td>
                        </tr>
                        <tr>
                            <td data-label="Maintenance Amount">₹1,800</td>
                            <td data-label="Resident Name">Lakeview</td>
                            <td data-label="Resident Name">Suresh B</td>
                            <td data-label="Resident Type">9360170297</td>
                            <td data-label="Date">2025-09-05</td>
                            <td data-label="Status">Paid</td>
                            <td data-label="View"><i class="fa-solid fa-file-lines"></i></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>