<section>
    <div>

        <!-- HEADER -->
        <div class="container header-cont">
            <div class="head-cont">
                <h2>Spot Visitors List</h2>
            </div>
            <div>
                <button class="btn-add" (click)="SpotVisitorEntry()">+ Add Spot Visitor</button>
            </div>
        </div>

        <!-- TABLE -->
        <div class="container">
            <div class="item">

                <div class="new-table-wrapper">

                    <!-- 🔽 FILTERS -->
                    <form [formGroup]="filterForm">
                        <div class="filters">

                            <div class="search-box">
                                <input type="text" placeholder="Visitor Code" formControlName="visitorSearch"
                                    class="regular-font" />
                            </div>

                            <div class="search-box">
                                <input type="text" placeholder="Resident name / phone" formControlName="residentSearch"
                                    class="regular-font" />
                            </div>

                            <div class="search-box">
                                <input type="text" placeholder="Property No" formControlName="propertySearch"
                                    class="regular-font" />
                            </div>

                            <div class="search-box">
                                <input type="text" placeholder="Purpose" formControlName="purposeSearch"
                                    class="regular-font" />
                            </div>

                            <div class="search-box">
                                <select formControlName="status" class="regular-font">
                                    <option value="">All Status</option>
                                    <option value="entered">Entered</option>
                                    <option value="not_exited">Not Exited</option>
                                    <option value="exited">Exited</option>
                                </select>
                            </div>

                            <div class="search-box">
                                <input type="date" formControlName="fromDate" class="regular-font" />
                            </div>

                            <div class="search-box">
                                <input type="date" formControlName="toDate" class="regular-font" />
                            </div>

                            <button type="button" class="filter-reset-btn" (click)="resetFilters()">
                                Reset
                            </button>

                        </div>
                    </form>
                    <!-- 🔼 FILTER END -->

                    <!-- SCROLL -->
                    <div class="table-scroll-wrapper">
                        <div class="table-scroll">

                            <table class="new-table">

                                <thead>
                                    <tr class="medium-font">
                                        <th class="sticky-col lead-col">Visitor Details</th>
                                        <th>Property No.</th>
                                        <th>Resident Details</th>
                                        <th>Purpose</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                        <th>View</th>
                                        <th>Resend</th>
                                    </tr>
                                </thead>

                                <tbody *ngIf="!tableLoading; else tableSkeleton" class="regular-font">

                                    <tr *ngFor="let item of spotVisitorlist1.paginatedData">

                                        <td class="sticky-col lead-col">
                                            <div class="visitor-details">
                                                <span class="property-name">{{ item.visitor_no }}</span>
                                                <div class="visitor-data">
                                                    <span>{{ item.visitor_name }}</span> |
                                                    <span>{{ item.visitor_mobile }}</span>
                                                </div>
                                            </div>
                                        </td>

                                        <td>{{ item.property_no }}</td>

                                        <td>
                                            <div class="visitor-details">
                                                <span class="property-name">{{ item.resident_name }}</span>
                                                <div class="visitor-data">
                                                    <span>{{ item.resident_mobile }}</span> |
                                                    <span>{{ item.resident_type }}</span>
                                                </div>
                                            </div>
                                        </td>

                                        <td>{{ item.purpose_of_visit }}</td>

                                        <td> {{ formatStatus(item.visitor_status) }}</td>

                                        <td>

                                            <!-- ✅ Mark Entry -->
                                            <div class="view-btn-div" style="width: 100% !important;"
                                                *ngIf="isMarkEntryAllowed(item)"
                                                (click)="visitorEntryModal(item.visitor_no)">
                                                <i class="bx bx-arrow-in-right-circle-half"></i>
                                                <span class="table-btn">Mark Entry</span>
                                            </div>

                                            <!-- ⛔ Disabled Entry -->
                                            <div class="disabled-btn-div"
                                                *ngIf="!isMarkEntryAllowed(item) && item.visitor_status !== 'entered' && item.visitor_status !== 'exited'">
                                                <i class="bx bx-block"></i>
                                                <span class="disabled-btn">Mark Entry</span>
                                            </div>

                                            <!-- ✅ Mark Exit -->
                                            <div class="view-btn-div" style="width: 100% !important;"
                                                *ngIf="isMarkExitAllowed(item)" (click)="VisitorExit(item.visitor_no)">
                                                <i class="bx bx-arrow-out-left-stroke-circle-half color-change"></i>
                                                <span class="table-btn color-change">Mark Exit</span>
                                            </div>

                                            <!-- ✅ Exited -->
                                            <div class="disabled-btn-div" *ngIf="item.visitor_status === 'exited'">
                                                <i class="bx bx-check-circle"></i>
                                                <span class="disabled-btn">Exited</span>
                                            </div>

                                        </td>

                                        <td>

                                            <div (click)="visitorView(item)" class="view-btn-div"
                                                style="width: 80% !important;">
                                                <i class="bx bx-eye"></i>
                                                <span class="table-btn" style="cursor: pointer;"> View</span>
                                            </div>
                                            <!-- </div> -->
                                        </td>

                                        <td>
                                            <div (click)="item.visitor_status !== 'exited' && ResendVisitorRequest(item.visitor_no, item)"
                                                class="view-btn-div" style="width: 100% !important;"
                                                  [ngClass]="{ 'disabled-div': !isResendAllowed(item) || item.isLoading }">
                                                <i class="bx bx-send" *ngIf="!item.isLoading "></i>
                                                <span class="table-btn" style="cursor: pointer;"
                                                    *ngIf="!item.isLoading ">Resend Req</span>
                                                <span class="dis-spin" style="cursor: pointer;"
                                                    *ngIf="item.isLoading "><i
                                                        class="fa-solid fa-spinner fa-spin"></i>Processing</span>
                                            </div>
                                        </td>

                                    </tr>

                                    <tr *ngIf="spotVisitorlist1.paginatedData.length === 0">
                                        <td colspan="7" style="text-align:center;color:gray;font-weight:600;">
                                            No Data Found
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <ng-template #tableSkeleton>
                                <tr *ngFor="let i of [1,2,3,4,5]" style="height:50px">
                                    <td class="sticky-col lead-col"><span class="placeholder col-10"></span></td>
                                    <td><span class="placeholder col-8"></span></td>
                                    <td><span class="placeholder col-6"></span></td>
                                    <td><span class="placeholder col-7"></span></td>
                                    <td><span class="placeholder col-5"></span></td>
                                    <td><span class="placeholder col-3"></span></td>
                                    <td><span class="placeholder col-3"></span></td>
                                    <td><span class="placeholder col-3"></span></td>
                                </tr>
                            </ng-template>

                        </div>
                    </div>

                    <!-- PAGINATION -->
                    <div class="crm-pagination" *ngIf="spotVisitorlist1">
                        <div class="regular-font">
                            Showing
                            <span class="medium-font">{{ spotVisitorlist1.startIndex + 1 }}</span>
                            to
                            <span class="medium-font">{{ spotVisitorlist1.endIndex + 1 }}</span>
                            of
                            <span class="medium-font">{{ spotVisitorlist1.totalData }}</span>
                            entries
                        </div>

                        <div class="d-flex gap-3 regular-font">
                            <button class="nav-btn" (click)="spotVisitorlist1.prevPage()"
                                [disabled]="spotVisitorlist1.currentPage === 1">‹ Prev</button>

                            <button class="page-btn active">{{ spotVisitorlist1.currentPage }}</button>

                            <button class="nav-btn" (click)="spotVisitorlist1.nextPage()"
                                [disabled]="spotVisitorlist1.currentPage === spotVisitorlist1.totalPages">Next
                                ›</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>