<section>

  <div class="whole-page-shell">
    <div class="image-shell">
      <img src="assets/images/signin/community.png" alt="deactive-account">
    </div>
    <div class="content-shell">
      <h1 class="regular-font">Your account is <span class="strong-cont">DEACTIVATED</span></h1>
      <p class="regular-font">Your association account has been <strong class="strong-cont">temporarily deactivated</strong>, and access to the Fourdotz platform is <strong class="strong-cont">currently restricted for all gatekeepers and helpers in your association</strong>. Please <strong class="strong-cont">contact your association</strong> management for further assistance and to restore access.</p>
    </div>

    <div class="button-shell">
      <button class="supp-team regular-font" (click)="gotosupport()">Contact Support Team</button>
    </div>
  </div>
</section>