.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
     padding: 0 !important;
    margin: 0 !important;
}

.item:nth-child(1),
.item:nth-child(2) {
    flex-grow: 1;
}

.item:nth-child(3) {
    width: 100%;
}

.table-cont {
    background-color: #faf9f4;
    padding: 10px;
    border-radius: 12px !important;
}

.styled-table thead {
    background-color: #ddd;
}

.head-cont {
    font-size: 20px;
    margin-bottom: 20px;
}

.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.new-cards {
    background: #faf9f4;
    border-radius: 12px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 280px !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.item h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.item p {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color2);
    /* fallback green */
    margin: 0;
}



.btn-add {
    color: var(--primary-color1);
    font-weight: 700;
    padding: 10px 8px;
    background: #faf9f4;
    border-radius: 12px !important;
    border: 2px solid var(--primary-color1);
}


tbody td i {
    color: var(--primary-color1);
}


@media (max-width: 768px) {

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
        text-align: right;
        white-space: nowrap;
    }
}


.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    grid-column-start: 5;
}
        

/* --- RIGHT SIDE CARDS --- */

.product-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-card {
    display: flex;
    gap: 14px;
    padding: 12px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
    border: 1px solid #eee;
}

/* Avatar Circle */
.img-box {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 24px;
    color: white;
    background: var(--primary-color1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body-details {
    flex: 1;
}

.title {
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 18px;
}

.detail-text {
    color: #555;
    margin:0;

}

.small-text {
    font-size: 12px;
    color: gray;
}

/* --- RESPONSIVE --- */
@media (max-width: 900px) {
    .parent {
        grid-template-columns: 1fr;
    }
}