<section *ngIf="user_type === 'association' && loadingUserData" class="loader-section">
    <img src="assets/logo/fourdotz-logo.png" alt="Loading..." class="loader-img" />
</section>


<header class="navbar-header-main" *ngIf="!loadingUserData">
    <div class="navbar-header">
        <div class="user-greeting">
            <div class="user-image">
                <img src="assets/logo/fourdotz1.png" alt="User Icon" />
            </div>
            <div class="greeting-text">
                <h3 class="user-name">Hello, {{ user_type }}!</h3>
            </div>
        </div>

        <div class="navbar-actions">
            <!-- <div class="search-container">
                <input type="text" placeholder="Search Anything..." class="search-input" />
                <button class="search-btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div> -->
            <div class="notification-icons">

                <!-- <button class="icon-btn">
                    <img src="/assets/icons/notification-bing.svg" alt="">
                </button> -->
                <button class="icon-btn" (click)="profileredirect()">
                    <img src="/assets/icons/profile.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</header>

<!-- Layout wrapper -->
<div class="layout">
    <!-- Sidebar -->
    <nav id="sidebar" [class.close]="sidebarClosed">
        <ul class="menu-list">
            <!-- Toggle Button -->
            <!-- <li class="toggle-btn-li">
                <button (click)="toggleSidebar()" id="toggle-btn">
                    <ng-container *ngIf="sidebarClosed; else openIcon">
                        <img src="assets/icons/arrow-circle-right.svg" alt="Right Arrow" width="30">
                    </ng-container>
                    <ng-template #openIcon>
                        <img src="assets/icons/arrow-circle-left.svg" alt="Left Arrow" width="30">
                    </ng-template>
                </button>
            </li> -->

            <!-- Sidebar Menu Items -->
            <ng-container *ngFor="let item of sidebarItems">

                <!-- If item has submenu -->
                <li *ngIf="item.children && item.allowedRole === user_type" class="submenu">

                    <div class="submenu-title d-flex justify-content-between align-items-center" (click)="item.open = !item.open">
                        <img [src]="item.icon" class="icon-img me-2 ">
                        <span class="mx-1">{{ item.label }}</span>
                        <i class="fa-solid" style="font-size: 12px;" [ngClass]="item.open ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                    </div>

                    <ul class="submenu-list mx-4" *ngIf="item.open">
                        <li *ngFor="let child of item.children" routerLinkActive="active">
                            <a [routerLink]="child.route" class="d-flex align-items-center">
                                <img [src]="child.icon" class="subicon-img1 me-2">
                                <span>{{ child.label }}</span>
                            </a>
                        </li>
                    </ul>

                </li>

                <!-- Normal items -->
                <li *ngIf="!item.children && item.allowedRole === user_type" routerLinkActive="active"
                    [class.active]="item.route === currentRoute">

                    <a [routerLink]="item.route" class="d-flex align-items-center">
                        <img [src]="item.icon" class="icon-img me-2">
                        <span>{{ item.label }}</span>
                    </a>

                </li>

            </ng-container>

        </ul>

        <!-- Footer section -->
        <ul class="footer-list">
            <li style="cursor: pointer;">
                <a (click)="logoutmodal()">
                    <img src="/assets/icons/logout.svg" alt="logout">
                    <span>Logout</span>
                </a>
            </li>

        </ul>
    </nav>

    <!-- Main content -->
    <main class="content">
        <router-outlet></router-outlet>
    </main>

    <footer class="app-footer" [class.visible]="showFooter">
        <div class="footer-left">
            <span>© 2025 All Rights Reserved <span style="color: var(--primary-color1);">Datax</span></span>
        </div>
        <div class="footer-right">
            <a href="https://fourdotz.com/privacy-policy/" target="_blank">Privacy Policy</a> |
            <a href="https://fourdotz.com/terms-of-service/" target="_blank">Terms & Conditions</a> |
            <a href="https://fourdotz.com/refund-policy/" target="_blank">Refund Policy</a>
        </div>
    </footer>
</div>