<section class="mt-4">


        <div class="container header-cont">
            <div class="head-cont">
                <h2>Manage Gate Keeper</h2>
            </div>

            <div class="tabs">
                <div class="tab" [class.active]="activeTab === 'keeper'" (click)="switchTab('keeper')">
                    Gate Keeper
                </div>

                <div class="tab" [class.active]="activeTab === 'gate'" (click)="switchTab('gate')">
                    Gate
                </div>
            </div>
        </div>

        <div class="container" *ngIf="activeTab === 'keeper'">
            <div class="item">

                <div class="new-table-wrapper">

                    <div class="table-head">
                        <h4>Gate Keeper List</h4>
                        <button class="btn-add" (click)="OpenAddGateKeeper()">
                            + Add Gate Keeper
                        </button>
                    </div>

                    <!-- SCROLL -->
                    <div class="table-scroll-wrapper">
                        <div class="table-scroll">

                            <table class="new-table">

                                <thead>
                                    <tr class="medium-font">
                                        <th class="sticky-col lead-col">Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Assigned Gate No.</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody *ngIf="!tableLoading; else keeperSkeleton" class="regular-font">

                                    <tr *ngFor="let k of GateKeeperlist1.paginatedData">

                                        <td class="sticky-col lead-col">{{ k.name }}</td>
                                        <td>{{ k.mobile }}</td>
                                        <td>{{ k.email }}</td>
                                        <td>{{ k.assigned_gate || '--' }}</td>

                                        <td>
                                            <div class="d-flex gap-2">
                                                <button class="btn-add" *ngIf="!k.assigned_gate"
                                                    (click)="AssignGates(k)">
                                                    Assign Gate
                                                </button>

                                                <button class="btn-add" *ngIf="k.assigned_gate"
                                                    (click)="unAssignGates(k)">
                                                    Unassign Gate
                                                </button>

                                                <span class="mail-btn" (click)="SendmailAgain(k.email)">
                                                    Send Mail
                                                </span>
                                            </div>
                                        </td>

                                    </tr>

                                    <!-- NO DATA -->
                                    <tr *ngIf="GateKeeperlist1.paginatedData.length === 0">
                                        <td colspan="5" class="no-data">
                                            No Data Found
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <!-- SKELETON -->
                            <ng-template #keeperSkeleton>
                                <tr *ngFor="let i of [1,2,3,4,5]" style="height:50px">
                                    <td class="sticky-col lead-col">
                                        <span class="placeholder col-6"></span>
                                    </td>
                                    <td><span class="placeholder col-5"></span></td>
                                    <td><span class="placeholder col-6"></span></td>
                                    <td><span class="placeholder col-4"></span></td>
                                    <td><span class="placeholder col-5"></span></td>
                                </tr>
                            </ng-template>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container" *ngIf="activeTab === 'gate'">
            <div class="item">

                <div class="new-table-wrapper">

                    <div class="table-head">
                        <h4>Gate List</h4>
                        <button class="btn-add" (click)="OpenAddGate()">
                            + Add Gate
                        </button>
                    </div>

                    <div class="table-scroll-wrapper">
                        <div class="table-scroll">

                            <table class="new-table">

                                <thead>
                                    <tr class="medium-font">
                                        <th class="sticky-col lead-col">Gate No.</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody *ngIf="!tableLoading; else gateSkeleton" class="regular-font">

                                    <tr *ngFor="let g of Gatelist1.paginatedData">

                                        <td class="sticky-col lead-col">{{ g.gate }}</td>

                                        <td>
                                            <button class="btn-danger">
                                                Delete Gate
                                            </button>
                                        </td>

                                    </tr>

                                    <tr *ngIf="Gatelist1.paginatedData.length === 0">
                                        <td colspan="2" class="no-data">
                                            No Data Found
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                            <!-- SKELETON -->
                            <ng-template #gateSkeleton>
                                <tr *ngFor="let i of [1,2,3]" style="height:50px">
                                    <td class="sticky-col lead-col">
                                        <span class="placeholder col-6"></span>
                                    </td>
                                    <td><span class="placeholder col-4"></span></td>
                                </tr>
                            </ng-template>

                        </div>
                    </div>

                </div>
            </div>
        </div>

</section>