<section>
    <div>

        <!-- HEADER -->
        <div class="container header-cont">
            <div class="head-cont">
                <h2>Service Admin List</h2>
            </div>

            <div>
                <button class="btn-add" (click)="OpenCreateAdmin()" id="tour-create-service-admin">
                    + Create Service Admin
                </button>
            </div>
        </div>

        <div class="main-head-cont mt-3">
            <p class="text-muted mb-0 regular-font">
                This is the Service Admin List page where you can view all the service admins.
                You can create a new service admin using the Create Service Admin button and view the service admin details here. 
            </p>
            <button class="tout-btn" *ngIf="adminList1.paginatedData.length > 0" (click)="startTour()">
                🎯 Take a Tour
            </button>
        </div>
        <!-- TABLE -->
        <div class="container" id="tour-service-admin-list">
            <div class="item">

                <div class="new-table-wrapper">

                    <!-- SCROLL WRAPPER -->
                    <div class="table-scroll-wrapper">
                        <div class="table-scroll">

                            <table class="new-table">

                                <!-- HEADER -->
                                <thead>
                                    <tr class="medium-font">
                                        <th class="sticky-col lead-col">Name</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>Onboarded At</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <!-- BODY -->
                                <tbody *ngIf="!adminLoading; else tableSkeleton" class="regular-font">

                                    <!-- NO DATA -->
                                    <tr *ngIf="adminList1.paginatedData.length === 0">
                                        <td colspan="5" class="no-data">
                                            No Data Found
                                        </td>
                                    </tr>

                                    <!-- DATA -->
                                    <tr *ngFor="let item of adminList1.paginatedData">

                                        <td class="sticky-col lead-col">
                                            {{ item.name }}
                                        </td>

                                        <td>{{ item.mobile }}</td>

                                        <td>{{ item.email }}</td>

                                        <td>
                                            {{ item.onboarded_time.$date | date:'dd-MMM-yyyy' }}
                                        </td>

                                        <td (click)="SendmailAgain(item.email, item)">
                                           <div class="mail-btn-div" style="width: 50% !important;">
                                              <i class="bx bx-envelope" *ngIf="!item.spinloading"></i>
                                                <span class="table-btn" style="cursor: pointer;" *ngIf="!item.spinloading"> Send Mail</span>
                                                <span class="dis-spin" style="cursor: not-allowed;" *ngIf="item.spinloading"><i class="fa-solid fa-spinner fa-spin"></i>  Sending...</span>

                                           </div>
                                      
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                            <!-- SKELETON -->
                            <ng-template #tableSkeleton>
                                <tr *ngFor="let i of [1,2,3,4,5]" style="height:50px">
                                    <td class="sticky-col lead-col">
                                        <span class="placeholder col-6"></span>
                                    </td>
                                    <td><span class="placeholder col-5"></span></td>
                                    <td><span class="placeholder col-6"></span></td>
                                    <td><span class="placeholder col-4"></span></td>
                                    <td><span class="placeholder col-5"></span></td>
                                </tr>
                            </ng-template>

                        </div>
                    </div>

                    <!-- PAGINATION -->
                    <div *ngIf="adminList1" class="crm-pagination">

                        <div class="regular-font">
                            Showing
                            <span class="medium-font">{{ adminList1.startIndex + 1 }}</span>
                            to
                            <span class="medium-font">{{ adminList1.endIndex + 1 }}</span>
                            of
                            <span class="medium-font">{{ adminList1.totalData }}</span>
                            entries
                        </div>

                        <div class="d-flex gap-3 regular-font">

                            <!-- PREV -->
                            <button class="nav-btn" [disabled]="adminList1.currentPage === 1"
                                (click)="adminList1.prevPage()">
                                ‹ Prev
                            </button>

                            <!-- CURRENT PAGE -->
                            <button class="page-btn active">
                                {{ adminList1.currentPage }}
                            </button>

                            <!-- NEXT -->
                            <button class="nav-btn" [disabled]="adminList1.currentPage === adminList1.totalPages"
                                (click)="adminList1.nextPage()">
                                Next ›
                            </button>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</section>