<section>
    <div class="back-button-div">
        <!-- From Uiverse.io by karthik092726122003 -->
        <div class="d-flex gap-2 align-items-center">
            <button (click)="goback()" class="back-button">
                <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024">
                    <path
                        d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z">
                    </path>
                </svg>
                <span>Back</span>
            </button>
            <div class="mt-2">
                <p>{{ Associationdata.property_no }} - {{ Associationdata.property_type }}</p>
            </div>
        </div>


        <!-- <div>
            <button class="submit-btn">Edit</button>
        </div> -->

    </div>
    <div class="sec-cont">
        <!-- Header -->
        <div class="header-cont">
            <div class="user-info">
                <h5 class="label">Propety No</h5>
                <p>{{ Associationdata.property_no }}</p>
            </div>
            <div class="user-info">
                <h5 class="label">Property Type</h5>
                <p>{{ Associationdata.property_type }}</p>
            </div>
            <div class="user-info">
                <h5 class="label">Area</h5>
                <p>{{ Associationdata.area }} sq.ft</p>
            </div>
            <div class="user-info">
                <h5 class="label">Facing</h5>
                <p>{{ Associationdata.facing }}</p>
            </div>
            <div class="user-info">
                <h5 class="label">Electricity Consumer No</h5>
                <p>{{ Associationdata.electricity_number }}</p>
            </div>
            <div class="user-info">
                <h5 class="label">Parking Slot Number</h5>
                <p>{{ Associationdata.parking_slot_number }}</p>
            </div>
            <div class="user-info">
                <h5 class="label">BHK</h5>
                <p>{{ Associationdata.property_no }}</p>
            </div>
            <div class="user-info">
                <h5 class="label">Resident</h5>
                <p>{{ Associationdata.resident_type || '--' }}</p>
            </div>
            <div class="user-info">
                <h5 class="label">Maintenance Paid By</h5>
                <p>{{ Associationdata.maintenance_paid_by || 'Owner' }}</p>
            </div>
            <div class="user-info">
                <h5 class="label">Maintenance Amount</h5>
                <p>{{ Associationdata.maintenance_amount | currency:'INR' }}</p>
            </div>
            <div class="user-info">
                <h5 class="label">Due Date</h5>
                <p>{{ Associationdata.due_date }} of Month</p>
            </div>
            <!-- <div > -->
                <!-- <div class="user-info" *ngIf="Associationdata.property_type === 'Apartment'">
                    <h5 class="label">Building Type</h5>
                    <p>{{ Associationdata.property_no }}</p>
                </div> -->
                <!-- <div class="user-info" *ngIf="Associationdata.property_type === 'Apartment'">
                    <h5 class="label">Tower Name</h5>
                    <p>{{ Associationdata.property_no }}</p>
                </div>
                <div class="user-info" *ngIf="Associationdata.property_type === 'Apartment'">
                    <h5 class="label">Block Name</h5>
                    <p>{{ Associationdata.property_no }}</p>
                </div> -->
                <div class="user-info" *ngIf="Associationdata.property_type === 'Apartment'">
                    <h5 class="label">Floor</h5>
                    <p>{{ Associationdata.floor }}</p>
                </div>
            <!-- </div> -->

        </div>

        <!-- Section Content -->
        <div class="main-cont">
            <div class="tabs">
                <button class="tab-btn" [class.active]="activeTab === 'Resident'" (click)="setTab('Resident')">
                    Resident
                </button>
                <button class="tab-btn" [class.active]="activeTab === 'petvehicle'" (click)="setTab('petvehicle')">
                    Pet & Vehicle
                </button>
            </div>

            <!-- Tab Content -->
            <div class="tab-content">

                <!-- Resident Tab -->
                <div *ngIf="activeTab === 'Resident'" class="resident-section">
                    <h4 class="section-title">Resident Details</h4>

                    <!-- Owner Card -->
                    <div class="resident-card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5>Owner Details</h5>
                            <div class="d-flex gap-3">
                                <button class="btn-add" (click)="addowner(PropertyId)"
                                    *ngIf="!Associationdata.owner_details?._id">+ Add Owner</button>
                                <!-- <button class="btn-add" (click)="addowner(PropertyId)"
                                    *ngIf="Associationdata.owner_details?._id">Edit Owner</button> -->
                            </div>
                        </div>

                        <div class="card-body" *ngIf="Associationdata.owner_details?._id ; else nodataowner">
                            <ng-container *ngFor="let field of [
          {label: 'Owner Name', value: Associationdata.owner_details?.name || '--'},
          {label: 'Phone Number', value: Associationdata.owner_details?.mobile || '--'},
          {label: 'Email', value: Associationdata.owner_details?.email || '--'},
          {label: 'Owned At', value: Associationdata.owner_details?.onboarded_time?.$date | date:'dd-MMM-yyyy'}
        ]">
                                <div class="user-info">
                                    <h5 class="label">{{field.label}}</h5>
                                    <p>{{field.value}}</p>
                                </div>
                            </ng-container>
                        </div>
                        <ng-template #nodataowner>
                            <div class="card-body">
                                No data found
                            </div>
                        </ng-template>

                    </div>

                    <!-- Tenant Card -->
                    <div class="resident-card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5>Tenant Details</h5>
                            <div class="d-flex gap-3">
                                <button class="btn-add" (click)="addTenant(PropertyId)"
                                    *ngIf="!Associationdata.tenant_details?._id">+ Add Tenant</button>
                                <!-- <button class="btn-add" (click)="addTenant(PropertyId)"
                                    *ngIf="Associationdata.tenant_details?._id">Edit Tenant</button> -->
                            </div>
                        </div>

                        <div class="card-body" *ngIf="Associationdata.tenant_details?._id; else nodatatenant">
                            <ng-container *ngFor="let field of [
          {label: 'Tenant Name', value: Associationdata.tenant_details?.name},
          {label: 'Phone Number', value: Associationdata.tenant_details?.mobile},
          {label: 'Email', value: Associationdata.tenant_details?.email},
          {label: 'Rented At', value: Associationdata.tenant_details?.onboarded_time?.$date | date:'dd-MMM-yyyy'}
        ]">
                                <div class="user-info">
                                    <h5 class="label">{{field.label}}</h5>
                                    <p>{{field.value}}</p>
                                </div>
                            </ng-container>
                        </div>
                        <ng-template #nodatatenant>
                            <div class="card-body">
                                No data found
                            </div>
                        </ng-template>
                    </div>
                </div>

                <!-- Pet & Vehicle Tab -->
                <div *ngIf="activeTab === 'petvehicle'" class="resident-section">
                    <h4 class="section-title">Pet & Vehicle</h4>

                    <!-- Pet Card -->
                    <div class="resident-card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5>Pet Details</h5>
                            <button class="btn-add" (click)="addpet(Associationdata._id)"
                                *ngIf="!Associationdata.pet || Associationdata.pet.length === 0">Add Pet</button>
                        </div>

                        <div class="card-body" *ngIf="Associationdata.pet?.length > 0; else nodata">
                            <ng-container *ngFor="let field of [
                                    {label: 'Pet Name', value: Associationdata.pet[0]?.pet_name},
                                    {label: 'Pet Type', value: Associationdata.pet[0]?.type},
                                    {label: 'Pet Breed', value: Associationdata.pet[0]?.breed},
                                    {label: 'Age', value: Associationdata.pet[0]?.age},
                                    {label: 'Pet Owned By', value: Associationdata.pet[0]?.pet_owned_by}
                                ]">
                                <div class="user-info">
                                    <h5 class="label">{{ field.label }}</h5>
                                    <p>{{ field.value }}</p>
                                </div>
                            </ng-container>
                        </div>

                        <ng-template #nodata>
                            <div class="card-body">
                                No data found
                            </div>
                        </ng-template>

                    </div>

                    <!-- Vehicle Card -->
                    <div class="resident-card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h5>Vehicle Details</h5>
                            <button class="btn-add" (click)="addVehicle(Associationdata._id)"
                                *ngIf="!Associationdata.vehicle || Associationdata.vehicle.length === 0">+ Add
                                Vehicle</button>
                        </div>

                        <div class="card-body" *ngIf="Associationdata.vehicle?.length > 0; else nodatavehicle">
                            <ng-container *ngFor="let field of [
          {label: 'Vehicle Type', value: Associationdata.vehicle[0]?.type},
          {label: 'Brand', value: Associationdata.vehicle[0]?.brand},
          {label: 'Vehicle Model', value: Associationdata.vehicle[0]?.modal},
          {label: 'Vehicle Number', value: Associationdata.vehicle[0]?.number},
          {label: 'Vehicle Owned By', value: Associationdata.vehicle[0]?.vehicle_owned_by}
        ]">
                                <div class="user-info">
                                    <h5 class="label">{{field.label}}</h5>
                                    <p>{{field.value}}</p>
                                </div>
                            </ng-container>
                        </div>
                        <ng-template #nodatavehicle>
                            <div class="card-body">
                                No data found
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>