<section class="form-section container">
    <div class="form-header">
        <h3 class="modal-header">Add Property</h3>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
    </div>

    <div class="form-body">
        <form [formGroup]="propertyForm" (ngSubmit)="AddPropertybyAssociation()">
            <div class="form-grid">

                <div class="inp-cont">
                    <label class="medium-font">Property No <span class="required">*</span></label>
                    <input type="text" formControlName="propertyNo" class="inp-cus regular-font"
                        placeholder="Enter your Property No">
                    <div *ngIf="propertyForm.get('propertyNo')?.touched && propertyForm.get('propertyNo')?.invalid"
                        class="error-text">
                        Property No is required
                    </div>
                </div>

                <div class="inp-cont">
                    <label class="medium-font">Area <span class="required">*</span> <span style="font-size: 12px;"> (sq.ft)</span></label>
                    <input type="text" formControlName="area" class="inp-cus regular-font" placeholder="Enter Area">
                    <div *ngIf="propertyForm.get('area')?.touched && propertyForm.get('area')?.invalid"
                        class="error-text">
                        Area is required
                    </div>
                </div>

                <div class="inp-cont">
                    <label class="medium-font">Facing <span class="required">*</span></label>
                    <select formControlName="facing" class="inp-cus regular-font">
                        <option value="" disabled>Select Facing</option>
                        <option value="North">North</option>
                        <option value="South">South</option>
                        <option value="East">East</option>
                        <option value="West">West</option>
                    </select>
                    <div *ngIf="propertyForm.get('facing')?.touched && propertyForm.get('facing')?.invalid"
                        class="error-text">
                        Facing is required
                    </div>
                </div>

                <div class="inp-cont">
                    <label class="medium-font">Electricity Consumer No <span class="required">*</span></label>
                    <input type="text" formControlName="electricityNo" class="inp-cus regular-font"
                        placeholder="Enter Electricity Consumer No">
                    <div *ngIf="propertyForm.get('electricityNo')?.touched && propertyForm.get('electricityNo')?.invalid"
                        class="error-text">
                        Electricity No is required
                    </div>
                </div>

                <div class="inp-cont">
                    <label class="medium-font">Parking Slot Number <span class="required">*</span></label>
                    <input type="text" formControlName="parkingSlot" class="inp-cus regular-font"
                        placeholder="Enter Parking Slot Number">
                    <div *ngIf="propertyForm.get('parkingSlot')?.touched && propertyForm.get('parkingSlot')?.invalid"
                        class="error-text">
                        Parking Slot is required
                    </div>
                </div>

                <div class="inp-cont">
                    <label class="medium-font">Gasline Number</label>
                    <input type="text" formControlName="gaslineNo" class="inp-cus regular-font" placeholder="Enter Gasline Number">
                </div>

                <div class="inp-cont">
  <label class="medium-font">Maintenance Type <span class="required">*</span></label>
  <select formControlName="maintenanceType" class="inp-cus regular-font">
    <option value="" disabled>Select Type</option>
    <option value="fixed">Fixed</option>
    <option value="square_feet">Square Feet</option>
  </select>
  <div
    *ngIf="
      propertyForm.get('maintenanceType')?.touched &&
      propertyForm.get('maintenanceType')?.invalid
    "
    class="error-text"
  >
    Maintenance Type is required
  </div>
</div>

<!-- 👇 Conditional input for Fixed -->
<div class="inp-cont" *ngIf="propertyForm.get('maintenanceType')?.value === 'fixed'">
  <label class="medium-font">Maintenance Amount <span class="required">*</span></label>
  <input
    type="number"
    formControlName="maintenanceAmount"
    class="inp-cus regular-font"
    placeholder="Enter Maintenance Amount"
  />
  <div
    *ngIf="
      propertyForm.get('maintenanceAmount')?.touched &&
      propertyForm.get('maintenanceAmount')?.invalid
    "
    class="error-text"
  >
    Maintenance Amount is required
  </div>
</div>

<!-- 👇 Conditional input for per sq ft -->
<div class="inp-cont" *ngIf="propertyForm.get('maintenanceType')?.value === 'square_feet'">
  <label class="medium-font">Amount per Sq. Ft <span class="required">*</span></label>
  <input
    type="number"
    formControlName="maintenancePerSqft"
    class="inp-cus regular-font"
    placeholder="Enter Amount per Sq. Ft"
  />
  <div
    *ngIf="
      propertyForm.get('maintenancePerSqft')?.touched &&
      propertyForm.get('maintenancePerSqft')?.invalid
    "
    class="error-text"
  >
    Amount per Sq. Ft is required
  </div>
</div>

                <div class="inp-cont">
                    <label class="medium-font">Due Date <span class="required">*</span></label>
                    <select formControlName="dueDate" class="inp-cus regular-font">
                        <option value="" disabled selected>Select Day</option>
                        <option *ngFor="let day of days" [value]="day">{{ day }} of Month</option>
                    </select>
                    <div *ngIf="propertyForm.get('dueDate')?.touched && propertyForm.get('dueDate')?.invalid"
                        class="error-text">
                        Due Date is required
                    </div>
                </div>

                <!-- Property Type -->
                <!-- Property Type -->
                <div class="inp-cont">
                    <label class="medium-font">Property Type <span class="required">*</span></label>
                    <div class="checkbox-group">
                        <label class="medium-font" class="radio-cus regular-font" *ngFor="let type of propertyTypes">
                            <input type="radio" [value]="type" formControlName="propertyType"
                                [checked]="propertyTypes.length === 1 && propertyTypes[0] === type" />
                            {{ type }}
                        </label>
                    </div>
                    <div *ngIf="propertyForm.get('propertyType')?.touched && propertyForm.get('propertyType')?.invalid"
                        class="error-text">
                        Property Type is required
                    </div>
                </div>

                <!-- Villa / Townhouse -->
                <div *ngIf="
    propertyForm.get('propertyType')?.value === 'Villa' ||
    propertyForm.get('propertyType')?.value === 'Townhouse'
  " class="inp-cont regular-font">
                    <label class="medium-font">BHK <span class="required">*</span></label>
                    <input type="number" formControlName="bhk" class="inp-cus regular-font" placeholder="Enter BHK" />
                    <div *ngIf="propertyForm.get('bhk')?.touched && propertyForm.get('bhk')?.invalid"
                        class="error-text">
                        BHK is required
                    </div>
                </div>

                <!-- Apartment Fields -->
                <ng-container *ngIf="propertyForm.get('propertyType')?.value === 'Apartment'">
                    <div class="inp-cont">
                        <label class="medium-font">Building Type <span class="required">*</span></label>
                        <div class="checkbox-group">
                            <label class="medium-font" class="radio-cus regular-font">
                                <input type="radio" formControlName="buildingType" value="Block" /> Block
                            </label>
                            <label class="medium-font" class="radio-cus regular-font">
                                <input type="radio" formControlName="buildingType" value="Tower" /> Tower
                            </label>
                        </div>
                        <div *ngIf="
        propertyForm.get('buildingType')?.touched &&
        propertyForm.get('buildingType')?.invalid
      " class="error-text">
                            Building Type is required
                        </div>
                    </div>

                    <div class="inp-cont">
                        <label class="medium-font">BHK <span class="required">*</span></label>
                        <input type="number" formControlName="bhk" class="inp-cus regular-font" placeholder="Enter BHK" />
                        <div *ngIf="propertyForm.get('bhk')?.touched && propertyForm.get('bhk')?.invalid"
                            class="error-text">
                            BHK is required
                        </div>
                    </div>

                    <!-- Tower -->
                    <div class="inp-cont" *ngIf="propertyForm.get('buildingType')?.value === 'Tower'">
                        <label class="medium-font">Tower <span class="required">*</span></label>
                        <input type="text" formControlName="tower" class="inp-cus regular-font" placeholder="Enter Tower" />
                        <div *ngIf="propertyForm.get('tower')?.touched && propertyForm.get('tower')?.invalid"
                            class="error-text">
                            Tower is required
                        </div>
                    </div>

                    <!-- Block -->
                    <div class="inp-cont" *ngIf="propertyForm.get('buildingType')?.value === 'Block'">
                        <label class="medium-font">Block <span class="required">*</span></label>
                        <input type="text" formControlName="block" class="inp-cus regular-font" placeholder="Enter Block" />
                        <div *ngIf="propertyForm.get('block')?.touched && propertyForm.get('block')?.invalid"
                            class="error-text">
                            Block is required
                        </div>
                    </div>

                    <!-- Floor -->
                    <div class="inp-cont">
                        <label class="medium-font">Floor <span class="required">*</span></label>
                        <input type="text" formControlName="floor" class="inp-cus regular-font" placeholder="Enter Floor" />
                        <div *ngIf="propertyForm.get('floor')?.touched && propertyForm.get('floor')?.invalid"
                            class="error-text">
                            Floor is required
                        </div>
                    </div>
                </ng-container>


            </div>

            <div class="form-actions">
                <button type="submit" class="submit-btn" *ngIf="submitBtn">Submit</button>
                <button type="button" class="processing-btn" *ngIf="!submitBtn">Processing</button>
            </div>
        </form>
    </div>
</section>