<section class="page-wrapper mt-4">

    <!-- BREADCRUMB -->
    <div class="breadcrumb  medium-font">
        <span (click)="goback()" style="cursor: pointer;"><i class="fa-solid fa-arrow-left mt-1"></i>
            Associations</span> / <span> {{ Associationdata.property_name
            }}</span>
    </div>

    <!-- HEADER -->
    <div class="page-header">

        <div class="title">
            <div class="logo-circle">
                {{ Associationdata.property_name[0] }}
            </div>
            <h1>{{ Associationdata.property_name }}</h1>
        </div>

        <button class="edit-btn" (click)="editassociation(Associationdata)">
            Edit Association
        </button>

    </div>

    <!-- STATS -->
    <div class="stats">

        <div class="stat">
            <label class="medium-font">Status</label>
            <span class="regular-font">
                {{ Associationdata.invitation_status ? 'Accepted' : 'Pending' }}
            </span>
        </div>

        <div class="stat">
            <label class="medium-font">Phone</label>
            <span class="regular-font">{{ Associationdata.mobile }}</span>
        </div>

        <div class="stat">
            <label class="medium-font">Email</label>
            <span class="regular-font">{{ Associationdata.email }}</span>
        </div>

        <div class="stat">
            <label class="medium-font">Property Types</label>
            <span class="regular-font">{{ Associationdata.property_type.join(', ') }}</span>
        </div>

        <div class="stat">
            <label class="medium-font">Created at</label>
            <span class="regular-font">{{ Associationdata.onboarded_time?.$date | date:'dd MMM yyyy, hh:mm a' }}</span>
        </div>

    </div>

    <!-- TABS -->
    <div class="tabs">
        <span [class.active]="activeTab === 'Properties'" (click)="setTab('Properties')">Properties</span>
        <span [class.active]="activeTab === 'Documents'" (click)="setTab('Documents')">Documents</span>
        <span [class.active]="activeTab === 'Transactions'" (click)="setTab('Transactions')">Transaction Amounts</span>
        <span [class.active]="activeTab === 'deactive'" (click)="setTab('deactive')">Deactivate Association</span>
    </div>

    <!-- CONTENT -->
    <div class="content">

        <div class="section" *ngIf="activeTab === 'Properties'">
            <h3>Property List</h3>

            <div *ngIf="header_loading" class="table-responsive">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th class="medium-font">Property Name</th>
                            <th class="medium-font">Email</th>
                            <th class="medium-font">Phone</th>
                            <th class="medium-font">Property Type</th>
                            <th class="medium-font">Invitation Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                            <td><span class="placeholder col-6 placeholder-glow"></span></td>
                            <td><span class="placeholder col-8 placeholder-glow"></span></td>
                            <td><span class="placeholder col-5 placeholder-glow"></span></td>
                            <td><span class="placeholder col-6 placeholder-glow"></span></td>
                            <td><span class="placeholder col-5 placeholder-glow"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div *ngIf="!header_loading" class="table-responsive">
                <table class="simple-table">
                    <thead>
                        <tr class="medium-font">
                            <th>Property Name</th>
                            <th>Property No.</th>
                            <th>Property Type</th>
                            <th>Facing</th>
                            <th>Resident Type</th>
                        </tr>
                    </thead>

                    <tbody>
                        <ng-container *ngIf="properties2.length > 0; else noDataRow">
                            <tr *ngFor="let property of properties2" class="regular-font">
                                <td>{{ property.association_name }}</td>
                                <td>{{ property.property_no }}</td>
                                <td>{{ property.property_type }}</td>
                                <td>{{ property.facing }}</td>
                                <td>{{ property.resident_type }}</td>
                            </tr>
                        </ng-container>

                        <!-- No data row inside tbody -->
                        <ng-template #noDataRow>
                            <tr>
                                <td colspan="5" class="text-center text-muted py-4 regular-font">
                                    No Data Found
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="section" *ngIf="activeTab === 'Documents'">
            <div class="doc-div" *ngIf="documents && documents.length > 0; else noData">
                <div class="file-card" *ngFor="let doc of documents">
                    <div class="file-preview">
                        <p class="regular-font"><i class="fa-solid fa-file"></i> Preview</p>
                    </div>
                    <div class="file-info">
                        <p class="file-name regular-font">
                            {{ getKey(doc) | titlecase }} |
                            <a [href]="getValue(doc)" target="_blank">
                                <i class="fa-solid fa-eye" style="color: var(--primary-color1);"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <ng-template #noData>
                <p class="no-data regular-font">No Data Found</p>
            </ng-template>
        </div>
        <div *ngIf="activeTab === 'Transactions'">

            <div class="transaction-section">
                <div class="transaction-grid">

                    <div class="transaction-card">
                        <div class="icon"><i class="fa-solid fa-file-invoice"></i></div>
                        <div class="title medium-font">Monthly Invoice Pending</div>
                        <div class="amount regular-font">{{ (amountdata.monthly_invoice_pending_amount || 0) |
                            currency:'INR':'symbol':'1.0-0' }}
                        </div>
                        <div class="desc regular-font">Invoices generated this month</div>
                    </div>

                    <div class="transaction-card">
                        <div class="icon"><i class="fa-solid fa-file-invoice-dollar"></i></div>
                        <div class="title medium-font">Monthly Invoice Paid</div>
                        <div class="amount regular-font">{{ (amountdata.monthly_invoice_total_amount || 0) |
                            currency:'INR':'symbol':'1.0-0' }}</div>
                        <div class="desc regular-font">Total rent collected this month</div>
                    </div>

                    <div class="transaction-card">
                        <div class="icon"><i class="fa-solid fa-money-check-dollar"></i></div>
                        <div class="title medium-font">Payout Total</div>
                        <div class="amount regular-font">{{ (amountdata.payout_maintenance_total_amount || 0) |
                            currency:'INR':'symbol':'1.0-0' }}</div>
                        <div class="desc regular-font">Maintenance payouts processed</div>
                    </div>

                </div>
            </div>

            <ng-template #noData>
                <p class="no-data">No Data Found</p>
            </ng-template>
        </div>

        <div *ngIf="activeTab === 'deactive'">
            <div class="simple-page">

  <div class="content-card">
    
    <h2 class="medium-font" *ngIf="!Associationdata.active_status">Activate Association</h2>
    <h2 class="medium-font" *ngIf="Associationdata.active_status">Deactivate Association</h2>

    <p class="description regular-font" *ngIf="!Associationdata.active_status">
      Activating this association will restore access for all users and resume all services and activities.
  The association will become fully operational again.
    </p>
    <p class="description regular-font" *ngIf="Associationdata.active_status">
      Deactivating this association will disable access for all users and pause all related activities.
      You can reactivate it at any time from the settings.
    </p>

    <div class="info-box">
      <p class="medium-font"><strong class="color-diff">Association:</strong> {{ Associationdata.property_name }}</p>
      <!-- <p><strong>ID:</strong> {{ association.id }}</p> -->
      <p class="medium-font" *ngIf="!Associationdata.active_status"><strong class="color-diff" >Status:</strong> Inactive</p>
      <p class="medium-font" *ngIf="Associationdata.active_status"><strong class="color-diff">Status:</strong> Active</p>
    </div>

    <button class="deactivate-btn regular-font" *ngIf="!Associationdata.active_status" (click)="activateAssociation(Associationdata._id)">
      Activate Association
    </button>
    <button class="deactivate-btn regular-font" *ngIf="Associationdata.active_status" (click)="deactivateAssociation(Associationdata._id)">
      Deactivate Association
    </button>

  </div>

</div>
        </div>
    </div>

</section>