<section class="form-section container">
    <div class="form-header">
        <h3>Edit Vehicle</h3>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
    </div>

    <div class="form-body">
        <form [formGroup]="vehicleForm" (ngSubmit)="EditVehicle()">
            <div class="inp-cont">
                <label class="medium-font">Vehicle Type <span class="required">*</span></label>
                <select class="inp-cus regular-font" formControlName="vehicleType">
                    <option value="" disabled selected>Select Vehicle Type</option>
                    <option value="2 wheeler">2 Wheeler</option>
                    <option value="4 wheeler">4 Wheeler</option>
                    <option value="Others">Others</option>
                </select>
                <small class="text-danger regular-font" *ngIf="isInvalid('vehicleType')">
                    Vehicle Type is required.
                </small>
            </div>

            <div class="inp-cont">
                <label class="medium-font">Brand <span class="required">*</span></label>
                <input type="text" class="inp-cus regular-font" formControlName="brand" placeholder="Enter your Brand" />
                <small class="text-danger regular-font" *ngIf="isInvalid('brand')">Brand is required.</small>
            </div>

            <div class="inp-cont">
                <label class="medium-font">Vehicle Model <span class="required">*</span></label>
                <input type="text" class="inp-cus regular-font" formControlName="model" placeholder="Enter your Vehicle Model" />
                <small class="text-danger regular-font" *ngIf="isInvalid('model')">Vehicle Model is required.</small>
            </div>

            <div class="inp-cont">
                <label class="medium-font">Vehicle Number <span class="required">*</span></label>
                <input type="text" class="inp-cus regular-font" formControlName="vehicleNumber" placeholder="TN-01-AB-1234"
                    maxlength="13" pattern="[A-Z]{2}-\d{2}-[A-Z]{2}-\d{4}" title="Format must be TN-01-AB-1234"
                    (keypress)="onVehicleNumberInput($event)" />
                <small class="text-danger regular-font" *ngIf="isInvalid('vehicleNumber')">
                    Vehicle Number must be in format TN-01-AB-1234
                </small>
            </div>

            <div class="inp-cont">
                <label class="medium-font">Vehicle Owned By <span class="required">*</span></label>
                <select class="inp-cus regular-font" formControlName="ownedBy">
                    <option value="" disabled selected>Select Options</option>
                    <option value="owner">Owner</option>
                    <option value="tenant">Tenant</option>
                </select>
                <small class="text-danger regular-font" *ngIf="isInvalid('ownedBy')">Select Owner or Tenant.</small>
            </div>

            <div class="mb-3">
                <button class="submit-btn" type="submit" *ngIf="submitbtn">Submit</button>
                <button class="processing-btn" type="button" *ngIf="!submitbtn">processing...</button>
            </div>
        </form>


    </div>
</section>