.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
 padding-top: 20px;
    margin: 0 !important;
}

.item:nth-child(1),
.item:nth-child(2) {
    flex-grow: 1;
}

.item:nth-child(3) {
    width: 100%;
}

.table-cont {
    background-color: #faf9f4;
    padding: 10px;
    border-radius: 12px !important;
}

.styled-table thead {
    background-color: #ddd;
}

.head-cont {
    font-size: 20px;
    margin-bottom: 20px;
}

.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.new-cards {
    background: #fff;
    border-radius: 12px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 280px !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.item h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.item p {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color2);
    /* fallback green */
    margin: 0;
}



.btn-add {
    color: var(--primary-color1);
    font-weight: 700;
    padding: 10px 8px;
    background: #faf9f4;
    border-radius: 12px !important;
    border: 2px solid var(--primary-color1);
}


tbody td i {
    color: var(--primary-color1);
}


@media (max-width: 768px) {

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
        text-align: right;
        white-space: nowrap;
    }
}

.tbody-dd tr td i{
    font-size: 25px;

}

.notify-icon{
    color: var(--primary-color2) !important;
}













/* From Uiverse.io by kerolos23 */ 
/* .loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #c517f0;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 8px;
  animation: flip1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: 8px;
  animation: flip2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: 32px;
  animation: flip2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: 56px;
  animation: flip3 0.6s infinite;
}

@keyframes flip1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes flip3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes flip2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
} */



td {
    padding: 8px 12px;
    vertical-align: middle;
}

.td-main {
    font-size: 14px;
    font-weight: 500;
    color: #222;
}

.td-sub {
    font-size: 12px;
    font-weight: 400;
    color: #6b7280; /* soft grey */
    margin-top: 2px;
}