<section>
    <div>

        <!-- HEADER -->
        <div class="container header-cont">
            <div class="head-cont">
                <h2>Association List</h2>
            </div>
            <div class="mt-4">
                <button class="btn-add" (click)="AddAssociation()">+ Add Association</button>
            </div>
        </div>

        <!-- TABLE CARD -->
        <div class="container">
            <div class="item">

                <div class="new-table-wrapper">

                    <!-- FILTERS -->
                    <form [formGroup]="filterForm">
                        <div>
                            <div class="filters">
                                <div class="search-box">
                                    <input type="text" placeholder="Enter Association Details"
                                        formControlName="residentSearch" class="regular-font" />
                                </div>

                                <button type="button" class="filter-reset-btn" (click)="resetFilters()">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- SCROLL WRAPPER (IMPORTANT) -->
                    <div class="table-scroll-wrapper">
                        <div class="table-scroll">

                            <table class="new-table">

                                <!-- HEADER -->
                                <thead>
                                    <tr class="medium-font">
                                        <th class="sticky-col lead-col">Association Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Property Type</th>
                                        <th>Invitation Status</th>
                                        <th>View</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <!-- BODY -->
                                <tbody *ngIf="!tableLoading; else tableSkeleton">

                                    <tr *ngFor="let item of Associationlist1.paginatedData" class="regular-font">

                                        <td class="sticky-col lead-col">
                                            <div class="lead-info">
                                                <div>
                                                    <div class="data-1"> {{ item.property_name }}</div>
                                                    <div class="data-2"> {{ item.name }}</div>
                                                </div>
                                            </div>

                                        </td>

                                        <td>{{ item.email }}</td>
                                        <td>+91 {{ item.mobile }}</td>

                                        <td>{{ item.property_type.join(', ') }}</td>

                                        <td>
                                            {{ item.invitation_status ? 'Accepted' : 'Pending/Declined' }}
                                        </td>

                                        <td (click)="viewassociation(item.user_id)">
                                            <div class="view-btn-div">
                                               <i class="bx bx-eye"></i>
                                                <span class="view-btn" style="cursor: pointer;"> View</span>
                                            </div>
                                        </td>
                                        <td (click)="SendmailAgain(item.email, item)">
                                            <div class="mail-btn-div">
                                                <i class="bx bx-envelope" *ngIf="!item.spinloading"></i>
                                                <span class="table-btn" style="cursor: pointer;" *ngIf="!item.spinloading"> Send Mail</span>
                                                <span class="dis-spin" style="cursor: not-allowed;" *ngIf="item.spinloading"><i class="fa-solid fa-spinner fa-spin"></i>  Sending...</span>
                                            </div>
                                        </td>

                                    </tr>

                                    <!-- Show "No Data Found" if array is empty -->
                                    <tr *ngIf="Associationlist1.paginatedData.length === 0">
                                        <td colspan="6" class="regular-font" style="text-align: center; color: gray;">
                                            No Data Found </td>
                                    </tr>

                                </tbody>
                            </table>

                            <ng-template #tableSkeleton>
                                <tr *ngFor="let i of [1,2,3,4,5]" style="height: 50px;"> <!-- taller row -->
                                    <td> <span class="placeholder col-10 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td> <span class="placeholder col-8 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td> <span class="placeholder col-6 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td> <span class="placeholder col-7 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td> <span class="placeholder col-5 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td> <span class="placeholder col-3 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                </tr>
                            </ng-template>

                        </div>
                    </div>

                    <!-- PAGINATION -->
                    <div class="">



                        <div class="crm-pagination">
                            <div class="regular-font">
                                Showing <span class="medium-font">{{ Associationlist1.startIndex + 1 }}</span> to <span
                                    class="medium-font">{{ Associationlist1.endIndex + 1 }}</span> of
                                <span class="medium-font"> {{Associationlist1.totalData }}</span> entries
                            </div>
                            <div class="d-flex gap-3 regular-font">
                                <button class="nav-btn" (click)="Associationlist1.prevPage()"
                                    [disabled]="Associationlist1.currentPage === 1">
                                    ‹ Prev
                                </button>

                                <button *ngFor="let p of pages" class="page-btn"
                                    [class.active]="p === Associationlist1.currentPage"
                                    (click)="Associationlist1.goToPage(p)">
                                    {{ p }}
                                </button>

                                <button class="nav-btn" (click)="Associationlist1.nextPage()"
                                    [disabled]="Associationlist1.currentPage === Associationlist1.totalPages">
                                    Next ›
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</section>