<section class="whole-div">

    <div class="parent">
        <div class="div1 bg-white rounded-2xl shadow-md p-6 flex flex-col justify-between">
  <div class="cont">
    <span class="card-head-font medium-font">Total Associations</span>
    <!-- <i class="bx bx-buildings card-icon"></i> -->
  </div>

  <div class="flex flex-col mt-4">
    <span class="card-font regular-font">{{ DashboardData?.hoa_total_count || 0}}</span>
  </div>
</div>
        <div class="div2 bg-white rounded-2xl shadow-md p-6 flex flex-col justify-between">
  <div class="cont">
    <span class="card-head-font medium-font">Number of Properties</span>
    <!-- <i class="bx bx-home-alt card-icon"></i> -->
  </div>

  <div class="flex flex-col mt-4">
    <span class="card-font regular-font">{{ DashboardData?.property_total_count || 0}}</span>
  </div>
</div>
        <div class="div3 bg-white rounded-2xl shadow-md p-6 flex flex-col justify-between">
  <div class="cont">
    <span class="card-head-font medium-font">Total Tenants</span>
    <!-- <i class="bx bx-user card-icon"></i> -->
  </div>

  <div class="flex flex-col mt-4">
    <span class="card-font regular-font">{{ DashboardData?.tenant_total_count || 0}}</span>
  </div>
</div>
        <div class="div4 rounded-2xl shadow-md flex flex-col p-3 new-table-wrapper" >
            <div class="transaction-header12 d-flex justify-content-between align-items-start mb-3">
                <h3>Associations</h3>
                <a class="link-text" (click)="redirecttoAssociationlist()">See All</a>
            </div>

            <div class="table-scroll-wrapper">
                        <div class="table-scroll">

                            <table class="new-table">

                                <!-- HEADER -->
                                <thead>
                                    <tr class="medium-font">
                                        <th class="sticky-col lead-col">Association Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Property Type</th>
                                        <th>Invitation Status</th>
                                        <th>View</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <!-- BODY -->
                                <tbody *ngIf="!tableLoading; else tableSkeleton">

                                    <tr *ngFor="let item of Associationlist1.paginatedData" class="regular-font">

                                        <td class="sticky-col lead-col">
                                            <div class="lead-info">
                                                <div>
                                                    <div class="data-1"> {{ item.property_name }}</div>
                                                    <div class="data-2"> {{ item.name }}</div>
                                                </div>
                                            </div>

                                        </td>

                                        <td>{{ item.email }}</td>
                                        <td>+91 {{ item.mobile }}</td>

                                        <td>{{ item.property_type.join(', ') }}</td>

                                        <td>
                                            {{ item.invitation_status ? 'Accepted' : 'Pending/Declined' }}
                                        </td>

                                        <td (click)="viewassociation(item.user_id)">
                                            <div class="view-btn-div">
                                                <i class="bx bx-eye"></i>
                                                <span class="view-btn" style="cursor: pointer;"> View</span>
                                            </div>
                                        </td>

                                        <td (click)="SendmailAgain(item.email, item)">
                                            <div class="mail-btn-div">
                                                 <i class="bx bx-envelope" *ngIf="!item.spinloading"></i>
                                                <span class="table-btn" style="cursor: pointer;" *ngIf="!item.spinloading"> Send Mail</span>
                                                <span class="dis-spin" style="cursor: not-allowed;" *ngIf="item.spinloading"><i class="fa-solid fa-spinner fa-spin"></i>  Sending...</span>
                                            </div>
                                        </td>

                                    </tr>

                                    <!-- Show "No Data Found" if array is empty -->
                                    <tr *ngIf="Associationlist1.paginatedData.length === 0">
                                        <td colspan="6" class="regular-font" style="text-align: center; color: gray;">
                                            No Data Found </td>
                                    </tr>

                                </tbody>
                            </table>

                            <ng-template #tableSkeleton>
                                <tr *ngFor="let i of [1,2,3,4,5]" style="height: 50px;"> <!-- taller row -->
                                    <td> <span class="placeholder col-10 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td> <span class="placeholder col-8 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td> <span class="placeholder col-6 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td> <span class="placeholder col-7 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td> <span class="placeholder col-5 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                    <td> <span class="placeholder col-3 placeholder-glow"
                                            style="height: 12px; display: inline-block; border-radius: 4px; background: #e0e0e0;"></span>
                                    </td>
                                </tr>
                            </ng-template>

                        </div>
                    </div>
        </div>
    </div>


</section>