<section class="bg">
    <div class="form-container">
        <!-- Logo -->
        <div class="logo-img">
            <img src="assets/logo/fourdotz-logo.png" alt="Logo">
        </div>

        <!-- Signin Form -->
        <form class="signin-form">
            <!-- Email / Phone -->
           <div class="inp-cont email-inp">
  <label for="email">Email <span class="required">*</span></label>
  <div class="email-row">
    <input type="text" id="email" placeholder="Enter Your Email" class="inp-cus">
    <button type="button" class="btn-add-otp">Send OTP</button>
  </div>
</div>

            <!-- Password with show/hide -->
            <div class="inp-cont password-group">
                <label for="password">Enter OTP <span class="required">*</span></label>
                <input type="text" id="password" placeholder="Enter OTP" class="inp-cus">
                
            </div>

            <!-- Forgot password -->
            <div class="forgot-password">
                <!-- <a href="#">Forgot password?</a> -->
            </div>

            <!-- Login button -->
            <button type="button" class="btn-add" (click)="login()">Submit</button>
        </form>
    </div>
</section>