/* @import '~ngx-toastr/toastr.css'; */

/* ===================== Fonts ===================== */
@font-face {
    font-family: 'TTHoves-Bold';
    src: url('fonts/TTHoves-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'TTHoves-Medium';
    src: url('fonts/TTHoves-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'TTHoves-MediumItalic';
    src: url('fonts/TTHoves-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'TTHoves-DemiBold';
    src: url('fonts/TTHoves-DemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'TTHoves-ExtraLight';
    src: url('fonts/TTHoves-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'TTHoves-Regular';
    src: url('fonts/TTHoves-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TTHoves-Light';
    src: url('/assets/fonts/TTHoves-Light.ttf') format('truetype');
}

/* ===================== Variables ===================== */
:root {
    --bg-primary: #f1eee8;
    --bg-white: #FFFFFF;
    --btn-primary: #8B4095;
    --text-primary: #FFFFFF;
    --text-colored: #8B4095;
    --btn-active: #8B4095;
    --text-black: #7d78a9;
    --text-bold: TTHoves-Thin, sans-serif;
    --text-Medium: TTHoves-Medium, sans-serif;
    --text-DemiBold: TTHoves-DemiBold, sans-serif;
    --text-ExtraLight: TTHoves-ExtraLight, sans-serif;
    --text-Regular: TTHoves-Regular, sans-serif;
    --text-Thin: TTHoves-Thin, sans-serif;
    --hover-clr: #f3f3f3;
    --accent-clr: #8B4095;
    --line-clr: #ccc;
    --secondary-text-clr: #555;
    --primary-color1: #8B4095;
    --primary-color2: #EA4531;
    --new-color: #fde9d6;
    --soft-bg-color: #F5EAF7;

    /* --sidebar-bg : #2a132d; */

    --gold-color: #FF982D;









    --sidebar-bg: #FFFFFF;
    --text-white: #FFFFFF;
    --text-black: #000000;
    --primary-purple: #8B4095;
    --primary-orange: #EA4531;
    --purple-shade-2: #a266aa;
    --purpe-shade-sb: #f3ecf4;
    --text-light-orange: #ee6a5a;

}

/* ===================== Reset ===================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'TTHoves-DemiBold', sans-serif;
    line-height: 1.5rem;
}

.heading-font {
    font-family: 'TTHoves-DemiBold', sans-serif;
}

.label-font {
    font-family: 'TTHoves-Regular', sans-serif;
}

.placeholder-font {
    font-family: 'TTHoves-Light', sans-serif;
}

.Table-Header {
    font-family: 'TTHoves-Medium', sans-serif;
}

.Table-Body {
    font-family: 'TTHoves-Regular', sans-serif;
}

.Buttons-font {
    font-family: 'TTHoves-Bold', sans-serif;
}


.medium-font {
    font-family: 'TTHoves-Medium', sans-serif;
    font-weight: 400 !important;
    font-size: 16px;

}


.regular-font {
    font-family: 'TTHoves-Regular', sans-serif;
}

.demibold-font {
    font-family: 'TTHoves-DemiBold', sans-serif;
}


body {
    font-family: 'TTHoves-DemiBold', sans-serif;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--bg-primary);
    color: var(--text-black);
}

.required {
    color: var(--primary-color2);
}

.submit-btn {
    padding: 8px 12px;
    border-radius: 12px !important;
    background: #fff;
    border: 2px solid var(--primary-color1);
    color: var(--primary-color1);
    width: 100%;

}

.link-text {
    color: var(--primary-color1) !important;
}


/* Remove arrows from number inputs - cross browser */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* ===================== Main content ===================== */
main {
    padding: min(30px, 7%);
}

main p {
    color: var(--secondary-text-clr);
    margin-top: 5px;
    margin-bottom: 15px;
}

.container {
    max-width: 100%;
}

.container h2,
.container p {
    margin-top: 1em;
}


/* ===================== Layout (Content offset) ===================== */
.layout {
    display: flex;
    /* margin-left: 250px; */
    transition: 300ms ease;
}





.processing-btn {
    cursor: not-allowed;
    color: var(--primary-color1);
    font-weight: 500;
    padding: 8px 12px;
    background: #faf9f4;
    border-radius: 12px !important;
    font-size: 20px;
    width: 100%;
    border: 2px solid var(--primary-color1);
}


.processing-btn-submit {
    cursor: not-allowed !important;
    font-weight: 500;


    padding: 8px 12px;
    border-radius: 12px !important;
    background: #FFFFFF;
    border: 2px solid var(--primary-color1);
    color: var(--primary-color1);
    width: 100%;
}


.btn-add {
    color: var(--primary-color1);
    font-weight: lighter !important;
    padding: 10px 8px;
    background: #FFFFFF;
    border-radius: 12px !important;
    font-size: 16px;
    border: 2px solid var(--primary-color1);
}

.btn-remove {
    color: var(--primary-color2);
    font-weight: 500;
    padding: 10px 8px;
    background: #faf9f4;
    border-radius: 12px !important;
    border: 2px solid var(--primary-color2);
}

.error-text {
    color: var(--primary-color2);
}

/* Back button */

.back-button {
    display: flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: start;
    background-color: transparent;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    /* background: #fff; */
}

.back-button span {
    color: #555;
}

.back-button>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
}

.back-button:hover>svg {
    font-size: 1.2em;
    transform: translateX(-5px);
}

.back-button:hover {
    /* box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff; */
    transform: translateY(-2px);
}

.pay-btn {
    background: #faf9f4;
    color: var(--primary-color2);
    border: 0;
    font-size: 18px;
    /* font-weight: ; */
}

tbody td i {
    color: var(--primary-color2);
}


.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 50px;
}

.pagination-info {
    font-size: 18px;
    color: #333;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #FFFFFF;
    backdrop-filter: blur(12px);
    padding: 10px 18px;
    border-radius: 30px;
}

.page-btn {
    min-width: 38px;
    height: 28px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--primary-color1);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .page-btn:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.page-btn.active {
    color: var(--primary-color2);
    font-weight: 700;
    transform: scale(1.1);

} */

.arrow-btn {
    font-size: 20px;
}







.filters {
    display: flex;
    gap: 1rem;
    /* margin-bottom: 1rem; */
    align-items: start;
    /* margin-top: 1rem; */
    padding: 20px 10px 0 20px;
}


.btn {
    width: 200px;
    margin-top: 10px;
}

.btn-btn {
    width: 100%;
}


/* Input container */
.filters .inp-cont {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px;
}


/* Input */
.filters .inp-cus {
    padding: 12px 14px;
    border: 1px solid #ddd;
    border-radius: 12px !important;
    background: #f9f9f9;
    font-size: 1rem;
    transition: all 0.3s ease;
    outline: none;
    width: 200px;
}

/* Input focus effect */
.filters .inp-cus:focus {
    background: #fff;
    box-shadow: 0 0 6px #4f504f4d;
}

/* Placeholder style */
.filters .inp-cus::placeholder {
    color: #aaa;
    font-size: 0.95rem;
}







/* Container styling */
.toast-container {
    font-size: 16px;
    width: auto;
    /* let width adapt to content */
    max-width: 400px;
    /* limit max width */
    z-index: 9999;
    content: none !important;
    pointer-events: none;
    /* allow clicks to pass through outside toasts */
}

/* General toast styling */
.toast {
    display: flex;
    flex-direction: column;
    padding: 16px 24px !important;
    border-radius: 12px !important;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15) !important;
    color: white !important;
    font-size: 15px;
    line-height: 1.5;
    pointer-events: auto;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease-in-out;
}

/* Toast entry animation */
.toast-show {
    opacity: 1 !important;
    transform: translateY(0px) !important;
}


/* 🔥 Remove tick / icon area completely */
.toast-success,
.toast-error,
.toast-info,
.toast-warning {
    background-image: none !important;
    /* remove tick mark */
    background-repeat: none !important;
    background-position: unset !important;
    padding-left: 24px !important;
    /* reset padding after icon removal */
}

.toast-message::before,
.toast::before {
    display: none !important;
    content: none !important;
}


/* Remove default icons */
.toast-success .toast-message::before,
.toast-error .toast-message::before,
.toast-info .toast-message::before,
.toast-warning .toast-message::before {
    content: none !important;
}

/* Change progress bar color */
.toast-success .toast-progress {
    background-color: white !important;
}

.toast-error .toast-progress {
    background-color: white !important;
}

.toast-info .toast-progress {
    background-color: white !important;
}

.toast-warning .toast-progress {
    background-color: white !important;
}

/* Toast types */
.toast-success {
    background-color: #92BA92 !important;
    padding: 16px 24px !important;
    border-radius: 12px !important;
    color: #FFFFFF !important;
    content: none !important;
}

.toast-error {
    background-color: #FF9B9B !important;
    padding: 16px 24px !important;
    border-radius: 12px !important;
    color: #FFFFFF;
    color: #FFFFFF !important;
}

.toast-warning {
    background-color: #FFB26F !important;
    padding: 16px 24px !important;
    border-radius: 12px !important;
    color: #FFFFFF;
    color: #FFFFFF !important;
}

.toast-info {
    background-color: #A7AAE1 !important;
    padding: 16px 24px !important;
    border-radius: 12px !important;
    color: #FFFFFF;
    color: #FFFFFF !important;
}

/* Toast title */
.toast-title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 4px;
}

/* Toast message */
.toast-message {
    font-weight: 400;
    line-height: 1.6;
}

/* Positioning */
.toast-bottom-right {
    bottom: 20px !important;
    right: 20px !important;
}

/* Ensuring Toastr is above everything */
.ngx-toastr {
    z-index: 9999 !important;
}

/* Optional hover effect */
.toast:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2) !important;
}












.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.info-icon {
    width: 20px;
    cursor: pointer;

}

/* Tooltip Box */
.tooltip-box {
    position: absolute;
    top: 0;
    left: 30px;
    background: #fff;
    padding: 10px 14px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    min-width: 180px;
    font-size: 14px;
    /* Hidden by default */
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: 0.15s ease-in-out;
    z-index: 999;
}

/* Show instantly on hover */
.tooltip-wrapper:hover .tooltip-box {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}









/* ================= OUTER CARD ================= */
.new-table-wrapper {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;

    margin-top: 10px;
}

/* ================= FILTER ================= */
.filters {
    display: flex;
    gap: 12px;
    padding: 12px;
}

.search-box {
    width: 250px;
}


.search-box input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    font-size: 13px;
}

.search-box select {
    width: 100%;
    padding: 10px 8px 8px 8px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    font-size: 13px;
}

.filter-reset-btn {
    background: #fff;
    border: none;
    color: var(--primary-color2);
    cursor: pointer;
}

/* ================= SCROLL ================= */
.table-scroll-wrapper {
    width: 100%;
    overflow: hidden;
}

.table-scroll {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
}

.new-table th,
.new-table td {
    min-width: 140px;
    /* 🔥 key for horizontal scroll */
}

/* ================= TABLE ================= */
.new-table {
    width: 100%;
    /* ✅ fills container when less data */
    min-width: 100%;
    /* ✅ prevents shrink */
    table-layout: auto;
    /* keeps content readable */
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

/* HEADER */
.new-table th {
    padding: 12px;
    background: #f8f8f8;
    border: 1px solid #efefef;
    white-space: nowrap;
    text-align: left;
    font-weight: 400;
}

/* ROWS */
.new-table td {
    padding: 12px;
    border-bottom: 1px solid #f1f5f9;
    white-space: nowrap;
}

/* ALTERNATE ROW */
.new-table tbody tr:nth-child(even) td {
    background: #f8f8f8;
}

/* ================= STICKY COLUMN ================= */
.sticky-col {
    position: sticky;
    left: 0;
    z-index: 3;
    background: #fff;
    border-right: 1px solid #e5e7eb;
}

.new-table thead th.sticky-col {
    z-index: 5;
    background: #f8f8f8;
}

.new-table tbody tr:nth-child(even) td.sticky-col {
    background: #f8f8f8;
}

.lead-col {
    /* min-width: 200px; */
    margin-left: 10px;
    min-width: 260px;
}

.lead-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.data-1 {
    font-weight: 500;
    font-size: 16px;
}

.data-2 {
    color: var(--text-black);
}

/* ================= NO DATA ================= */
.no-data {
    text-align: center;
    color: #888;
}


/* ================= PAGINATION ================= */
.crm-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    border-top: 1px solid #e5e7eb;
    font-size: 14px;
}

/* PREV / NEXT */
.nav-btn {
    background: none;
    border: none;
    color: #6b7280;
    font-weight: 500;
    cursor: pointer;
}

.nav-btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.page-btn {
    background: none;
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #374151;
    font-weight: 500;
}

/* ACTIVE PAGE */
.page-btn.active {
    background: #f7f7f7;
    color: #313131;
    border: 1px solid #bcbcbc;
}

/* DOTS */
.page-btn:disabled {
    color: #9ca3af;
    cursor: default;
}

/* ================= SCROLLBAR ================= */
.table-scroll::-webkit-scrollbar {

    height: 4px;
}

.table-scroll::-webkit-scrollbar-thumb {
    background: #cfd4dc;
    border-radius: 10px;
}


.filter-reset-btn {
    background-color: #fff;
    border: 0;
    color: var(--primary-color2);
    margin-top: 5px;
}

.table-btn {
    font-size: 16px;
    border-radius: 12px;
    color: var(--primary-color2);
    font-weight: 500;
}


.mail-btn-div {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--primary-color2);
    justify-content: center;
    padding: 3px 8px;
    border-radius: 7px;
    cursor: pointer;
    color: var(--primary-color2);
}




.view-btn-div {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--primary-color2);
    justify-content: center;
    padding: 3px 8px;
    border-radius: 7px;
    cursor: pointer;
}

.mail-btn-div i {
    font-size: 18px;
    margin-top: 2px;
    cursor: pointer;
}

.view-btn {
    font-size: 16px;
    border-radius: 12px;
    color: var(--primary-color2);
    font-weight: 500;
}

.view-btn-div i {
    font-size: 18px;
    margin-top: 2px;
    cursor: pointer;
    color: var(--primary-color2);
}





/* ================= FIX CONTAINER ================= */
.container {
    display: block;
    /* IMPORTANT */
    padding: 0 !important;
    margin: 0 !important;
}

/* ================= HEADER ================= */
.header-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-cont h2 {
    font-size: 30px;
}


/* ================= ACTION ================= */
.mail-btn {
    color: var(--primary-color1);
    font-weight: bold;
    cursor: pointer;
}



.mail-btn {
    color: var(--primary-color1);
    font-weight: bold;
}




/* ===============================
   SHEPHERD MODAL OVERLAY (BLUR)
================================ */

/* Dark + blur background */
.shepherd-modal-overlay-container {
    background: rgba(0, 0, 0, 0.55) !important;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 99998;
}

/* Lock whole page */
body.shepherd-active {
    overflow: hidden;
    pointer-events: none;
}

/* Allow interaction only with tour & target */
.shepherd-element,
.shepherd-target {
    pointer-events: auto !important;
}

/* Bring target above overlay */
.shepherd-target {
    position: relative;
    z-index: 100000;
    border-radius: 12px;
}

/* Animated focus ring */
.shepherd-target::after {
    content: '';
    position: absolute;
    inset: -6px;
    border-radius: 14px;
    box-shadow:
        0 0 0 2px rgba(155, 107, 255, 0.9),
        0 0 28px rgba(155, 107, 255, 0.6);
    animation: shepherd-pulse 1.6s infinite;
    pointer-events: none;
    padding: 22px !important;
}

@keyframes shepherd-pulse {
    0% {
        opacity: 0.9;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.9;
    }
}

/* ===============================
   SHEPHERD DARK MODERN TOOLTIP
================================ */

.shepherd-element.shepherd-dark-theme {
    background: var(--primary-color1);
    color: #ffffff;
    border-radius: 14px;
    max-width: 380px;
    padding: 16px 18px;
    box-shadow: 0 18px 50px rgba(0, 0, 0, 0.65);
    z-index: 100001;
}

/* Arrow */
.shepherd-element.shepherd-dark-theme .shepherd-arrow:before {
    background: #1e1e1e;
}

/* Text */
.shepherd-element.shepherd-dark-theme .shepherd-text {
    font-size: 14px;
    line-height: 1.65;
    color: #e6e6e6;
    margin-bottom: 14px;
}

/* Footer */
.shepherd-element.shepherd-dark-theme .shepherd-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

/* Buttons */
.shepherd-element.shepherd-dark-theme .shepherd-button {
    border-radius: 10px;
    padding: 7px 16px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

/* Primary */
.shepherd-btn-primary {
    background: var(--primary-color2) !important;
    color: #ffffff;
}

/* Secondary */
.shepherd-btn-secondary {
    background: #311450 !important;
    color: #d0d0d0;
}

/* Skip */
.shepherd-btn-skip {
    background: #311450 !important;
    ;
    color: #9a9a9a;
}



.shepherd-header {
    background-color: var(--primary-color1) !important;
}

.shepherd-title {
    color: #FFFFFF !important;
}

.shepherd-arrow {
    display: none !important;
}



.tout-btn {
    width: 150px;
    border: 1px solid var(--primary-color1);
    border-radius: 12px;
    padding: 8px 8px;
    background-color: #fff;
}

.main-head-cont {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.input-custom-style {
    width: 100%;
    padding: 8px 5px;
    font-size: 14px;

    border: 1px solid #908692;
    border-radius: 7px;
    background-color: #fff;

    outline: none;
    box-sizing: border-box;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

/* Hover (optional but nice UX) */
.input-custom-style:hover {
    border-color: #a46ab0;
}

/* Focus + Active combined */
.input-custom-style:focus,
.input-custom-style:active {
    border-color: #a46ab0;
    box-shadow: 0 0 6px rgba(79, 80, 79, 0.3);
}


.popup-form-design {
    background-color: #fff;
    width: 800px;
    margin: 40px auto;
    padding: 25px;
    padding-left: 35px;
    border-radius: 12px !important;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}


.disabled-btn-div {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #e2e2e2;
    justify-content: center;
    padding: 3px 8px;
    border-radius: 7px;
    cursor: not-allowed;
    font-weight: 500;
    color: #777;
    background-color: #e2e2e2;
    cursor: not-allowed;
}

.disabled-btn {
    font-size: 16px;
    color: #777;
}

.disabled-btn-div i {
    font-size: 18px;
    color: #777;
}

.color-change {
    color: var(--primary-color2) !important;
}


.dis-spin {
    opacity: 0.5;
    cursor: not-allowed !important;
}