<section class="form-section container">
    <div class="form-header">
        <h3 class="modal-header">Generate Rental Invoice</h3>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
    </div>

    <div class="form-body">
        <form [formGroup]="maintenanceForm" (ngSubmit)="onSubmit()">
            <!-- Tenant + Property Info -->



            <!-- Items Header -->
            <div class="inp-cont items-header">
                <label class="label-style">Additional Items</label>
                <button type="button" class="btn-add" (click)="addItem()">+ Add Item</button>
            </div>

            <!-- Items -->
            <div class="items-container scroll-box" formArrayName="items">
                <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="item-wrapper">

                    <!-- Row 1 -->
                    <div class="item-row">
                        <div>
                            <label>Property No</label>
                            <select formControlName="propertyNo" class="inp-cus">
                                <option value="" disabled>Select Property No</option>
                                <option *ngFor="let property of TenantList2" [value]="property._id">
                                    {{ property.property_no }}
                                </option>
                            </select>
                        </div>

                        <div>
                            <label>Description</label>
                            <input type="text" formControlName="description" class="inp-cus" placeholder="Description">
                        </div>
                    </div>

                    <!-- Row 2 -->
                    <div class="item-row">
                        <div>
                            <label>Amount</label>
                            <input type="number" formControlName="amount" class="inp-cus" placeholder="Amount">
                        </div>

                        <div>
                            <label>Due Date</label>
                            <input type="date" formControlName="dueDate" class="inp-cus">
                        </div>

                        <!-- Remove button on row 2 -->
                        <button type="button" class="btn-cancel" (click)="removeItem(i)">X</button>
                    </div>

                    <hr />
                </div>
            </div>

            <!-- Submit -->
            <div class="form-actions">
                <button class="submit-btn" type="submit" [disabled]="maintenanceForm.invalid">
                    Generate
                </button>
            </div>
        </form>
    </div>
</section>