<section class="form-section container">
    <div class="form-header">
        <h3 class="modal-header">Generate Rental Invoice</h3>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
    </div>

    <div class="form-body">
        <form [formGroup]="maintenanceForm" (ngSubmit)="onSubmit()">
            <!-- Tenant + Property Info -->
           


            <!-- Items Header -->
            <div class="inp-cont items-header">
                <label class="label-style">Additional Items</label>
                <button type="button" class="btn-add" (click)="addItem()">+ Add Item</button>
            </div>

            <!-- Items -->
            <div class="items-container scroll-box" formArrayName="items">
                <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="item-row">
                    <!-- Property No Dropdown -->
                    <div class="custom-select">
                        <select formControlName="propertyNo" class="inp-cus">
                            <option value="" disabled>Select Property No</option>
                            <option *ngFor="let property of TenantList2" [value]="property._id">
                                {{ property.property_no }}
                            </option>
                        </select>
                    </div>

                    <!-- Description -->
                    <input type="text" formControlName="description" placeholder="Description" class="inp-cus" />

                    <!-- Amount -->
                    <input type="number" formControlName="amount" placeholder="Amount" class="inp-cus" />

                    <!-- Remove -->
                    <button type="button" class="btn-cancel" (click)="removeItem(i)">X</button>
                </div>
            </div>

            <!-- Submit -->
            <div class="form-actions">
                <button class="submit-btn" type="submit" [disabled]="maintenanceForm.invalid">
                    Generate
                </button>
            </div>
        </form>
    </div>
</section>