<section class="form-section container">
    <div class="form-header">
        <h3 class="modal-header">Generate Rental Invoice</h3>
        <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
    </div>

    <div class="form-body">
        <form [formGroup]="maintenanceForm" (ngSubmit)="onSubmit()">
            <!-- Tenant + Property Info -->



            <!-- Items Header -->
            <div class="inp-cont items-header">
                <label  class="label-style medium-font">Click here to</label>
                <button type="button" class="btn-add" (click)="addItem()">+ Add Item</button>
            </div>

            <!-- Items -->
            <div class="items-container scroll-box" formArrayName="items">
                <div *ngFor="let item of items.controls; let i = index" [formGroupName]="i" class="item-wrapper">

                    <!-- Row 1 -->
                    <div class="remove-btn">
                        <button type="button" class="btn-cancel regular-font" (click)="removeItem(i)">Remove</button>
                    </div>
                    <div class="item-row">
                        <div>
                            <label class="medium-font">Property No.</label>
                            <select formControlName="propertyNo" class="inp-cus regular-font">
                                <option value="" disabled>Select Property No.</option>
                                <option *ngFor="let property of TenantList2" [value]="property._id">
                                    {{ property.property_no }}
                                </option>
                            </select>
                        </div>

                        <div>
                            <label class="medium-font">Description</label>
                            <input type="text" formControlName="description" class="inp-cus regular-font" placeholder="Description">
                        </div>
                    </div>

                    <!-- Row 2 -->
                    <div class="item-row">
                        <div>
                            <label class="medium-font">Amount</label>
                            <input type="number" formControlName="amount" class="inp-cus regular-font" placeholder="Amount">
                        </div>

                        <div>
                            <label class="medium-font">Due Date</label>
                            <input type="date" formControlName="dueDate" class="inp-cus regular-font">
                        </div>

                        <!-- Remove button on row 2 -->
                        
                    </div>

                </div>
            </div>

            <!-- Submit -->
            <div class="form-actions">
                <button class="submit-btn" type="submit" [disabled]="maintenanceForm.invalid">
                    Generate
                </button>
            </div>
        </form>
    </div>
</section>