<section class="success-section">
    <div class="payment-success-modal">

        <!-- Confetti Section -->
      

        <!-- Success Icon -->
        <div class="success-icon">
            <img src="assets/images/payment-sucess-gif.gif" alt="payment-success" class="payment-success-img">
        </div>

        <!-- Title -->
        <h2 class="title ">Payment Successful</h2>

        <!-- Subtitle -->
       <p class="regular-font">
    Congratulations! Your payment has been received and you will
    receive the invoice shortly.
</p>

        

        <!-- Buttons -->
        <button class="btn-primary" (click)="closemodal()">Back to Dashboard</button>

    </div>
</section>


