.bg {
  background: #ffffff;
  width: 80%;
  max-width: 550px;
  height: 65vh;
  border-radius: 20px;
  border: 1px solid #c9c8c8;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: 50px;
}

.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-img p{
    font-family: 'TTHoves-Regular', sans-serif;
    font-size: 18px;
    margin-bottom: -10px;
}

.logo-img img {
    width: 55%;
    max-width: 650px; 
    height: auto;
    border-radius: 12px;
    margin-bottom: 20px;
}

/* Form styles */
.signin-form {
    margin-top: 30px;
    width: auto;
    display: flex;
    flex-direction: column;
}

/* Input container */
.inp-cont {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 10px;
    width: 100%;
}

/* Label */
.inp-cont label {
    font-size: 17px;
      font-family: 'TTHoves-Regular', sans-serif;
    color: #181818;
}

/* Input */
.inp-cus {
    padding: 12px 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
    font-size: 1rem;
    transition: all 0.3s ease;
    outline: none;
}

/* Input focus effect */
.inp-cus:focus {
    background: #fff;
    box-shadow: 0 0 6px #4f504f4d;
}

/* Placeholder style */
.inp-cus::placeholder {
    color: #aaa;
    font-size: 0.95rem;
     font-family: 'TTHoves-Regular', sans-serif;
}

.password-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 43px; /* adjust based on input padding */
  cursor: pointer;
  user-select: none;
  font-size: 18px;
  color: var(--primary-color2);
}

/* Forgot password */
.forgot-password {
    text-align: right;
    font-family: 'TTHoves-Regular', sans-serif;
}

.forgot-password p {
    color: #434343;
    text-decoration: underline;
    font-size: 18px;
    cursor: pointer;
}


.login-btn{
    color: #FFFFFF;
    background: var(--primary-color2);
    padding: 12px;
    border: 0;
    border-radius: 6px;
    font-family: 'TTHoves-Regular', sans-serif;

}


.error-text{
    color: var(--primary-color2);
}
/* Responsive adjustments */
@media (max-width: 768px) {
    .bg { height: 60vh; }
    .logo-img img { width: 50%; }
}

@media (max-width: 480px) {
    .bg { height: 50vh; padding: 20px; }
    .logo-img img { width: 60%; }
}


.form-container{
    padding: 10px 0 20px 0;
}