<section class="login-wrapper">

    <div class="login-container">

        <!-- Logo -->
        <div>
            <img src="assets/logo/fourdotz-logo.png" alt="fourdotz-logo" class="logo-img">
        </div>

        <!-- Heading -->
        <h2 class="medium-font" style="margin-top: 10px; font-size: 30px;">
            Change Password
        </h2>

        <!-- Sub-text (2 line content) -->
        <p class="description regular-font" style="text-align:center;">
            You can set a new password to secure your account.<br>
            Please choose a strong password for safe access.
        </p>

        <!-- Form -->
        <form [formGroup]="passwordForm" class="login-box">

            <!-- New Password -->
            <div class="inp-cont">
                <label class="medium-font">New Password <span class="required">*</span></label>

                <input
                    type="password"
                    formControlName="newPassword"
                    placeholder="Enter new password"
                    class="inp-cus regular-font"
                />

                <small class="error-text"
                    *ngIf="passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.invalid">
                    Password must be at least 6 characters.
                </small>
            </div>

            <!-- Confirm Password -->
            <div class="inp-cont">
                <label class="medium-font">Confirm Password <span class="required">*</span></label>

                <input
                    type="password"
                    formControlName="confirmPassword"
                    placeholder="Re-enter new password"
                    class="inp-cus regular-font"
                />

                <small class="error-text" *ngIf="passwordMismatch">
                    Passwords do not match.
                </small>
            </div>

            <!-- Submit Button -->
            <button
                type="button"
                class="login-btn"
                (click)="updatePassword()"
                [disabled]="passwordForm.invalid || passwordMismatch">
                Update Password
            </button>

            <button class="back-btn" (click)="gotoBack()"><i class="fa-solid fa-arrow-left"></i> Back</button>

        </form>

    </div>

</section>
