<section class="form-section container">
  <div class="form-header">
    <h3 class="heading-font">Edit Owner</h3>
    <i class="fa-solid fa-xmark" (click)="closeModal()"></i>
  </div>

  <div class="form-body">
    <form [formGroup]="ownerForm">
      <div class="inp-cont">
        <label class="medium-font">First Name <span class="required">*</span></label>
        <input type="text" formControlName="firstName" class="inp-cus regular-font" placeholder="Enter First Name">
        <div *ngIf="ownerForm.get('firstName')?.touched && ownerForm.get('firstName')?.invalid" class="error-text regular-font">
          First Name is required
        </div>
      </div>

      <div class="inp-cont">
        <label class="medium-font">Last Name <span class="required">*</span></label>
        <input type="text" formControlName="lastName" class="inp-cus regular-font" placeholder="Enter Last Name">
        <div *ngIf="ownerForm.get('lastName')?.touched && ownerForm.get('lastName')?.invalid" class="error-text regular-font">
          Last Name is required
        </div>
      </div>

      <div class="inp-cont">
        <label class="medium-font">Email ID <span class="required">*</span></label>
        <input type="email" formControlName="email" class="inp-cus regular-font" placeholder="Enter Email" readonly>
        <div *ngIf="ownerForm.get('email')?.touched && ownerForm.get('email')?.hasError('required')" class="error-text regular-font">
          Email is required
        </div>
        <div *ngIf="ownerForm.get('email')?.touched && ownerForm.get('email')?.hasError('email')" class="error-text regular-font">
          Enter a valid email
        </div>
      </div>

      <div class="inp-cont">
        <label class="medium-font">Phone Number <span class="required">*</span></label>
        <input type="tel" formControlName="phone" class="inp-cus regular-font" maxlength="10" placeholder="Enter Phone Number" readonly>
        <div *ngIf="ownerForm.get('phone')?.touched && ownerForm.get('phone')?.hasError('required')" class="error-text regular-font">
          Phone number is required
        </div>
        <div *ngIf="ownerForm.get('phone')?.touched && ownerForm.get('phone')?.hasError('pattern')" class="error-text regular-font">
          Phone must be 10 digits
        </div>
      </div>

      <div class="inp-cont">
                <label class="medium-font">Owned at <span class="required">*</span></label>
                <div class="date-input-wrapper">
                    <input type="text" id="rentedAt" class="inp-cus placeholder-font regular-font" formControlName="ownedAt"
                        placeholder="Select date" readonly (click)="openDatePicker()" />
                    <i class="fa fa-calendar calendar-icon" (click)="openDatePicker()"></i>
                    <input #hiddenDatePicker type="date" class="hidden-date-input" (change)="onDateSelected($event)" />
                </div>
                <!-- <input type="date" formControlName="ownedAt" class="inp-cus"> -->
                <div *ngIf="ownerForm.get('ownedAt')?.touched && ownerForm.get('ownedAt')?.invalid" class="error-text regular-font">
                    Owned date is required
                </div>
            </div>

      <div class="mb-3">
        <button type="submit" class="submit-btn" (click)="onSubmit()" *ngIf="submitbtn">Update</button>
        <button type="button" class="processing-btn" *ngIf="!submitbtn">Processing...</button>
      </div>
    </form>
  </div>
</section>